<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    Dashboard
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/director/dashboard/data']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item actice">Menu principal</li>
                </ul>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-default mr-lg-3 mr-md-2 mr-1" [routerLink]="['/director/dashboard/list-proyectos', 'proyecto']"><i class="fa fa-plus-square"></i>&nbsp;<span>Listar proyectos</span></a>
    <a type="button" class="btn btn-default mr-lg-3 mr-md-2 mr-1" [routerLink]="['/director/dashboard/list-investigadores', 'investigador']"><i class="fa fa-info-circle"></i>&nbsp;<span>Listar investigadores</span></a>
    <a type="button" class="btn btn-default mr-lg-3 mr-md-2 mr-1" [routerLink]="['/director/dashboard/generate-reportes']"><i class="fa fa-info-circle"></i>&nbsp;<span>Generar reportes</span></a>
</div>
