<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    Dashboard
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/director/dashboard/data']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item actice">Menu principal</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row clearfix mt-3">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card appliances-grp" type="button" [routerLink]="['/director/dashboard/list-proyectos', 'proyecto']">
          <div class="body clearfix">
            <div class="icon"><img src="assets/images/proyecto.png" alt="imagen_fotografias"></div>
            <div class="content">
              <h6>Listar Proyectos</h6>
              <p>Proyectos de investigación (Activo, Inactivo, Pendiente, Cerrado).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card appliances-grp" type="button" [routerLink]="['/director/dashboard/list-investigadores', 'investigador']">
          <div class="body clearfix">
            <div class="icon"><img src="assets/images/profesor.png" alt="imagen_usuarios"></div>
            <div class="content">
              <h6>Lista Investigadores</h6>
              <p>Investigadores(Titular, Asociado con proyecto, Asociado por invitacion).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card appliances-grp" type="button" [routerLink]="['/director/dashboard/generate-reportes']">
          <div class="body clearfix">
            <div class="icon"><img src="assets/images/reporte.png" alt="imagen_fotografias"></div>
            <div class="content">
              <h6>Generar Reportes</h6>
              <p>Hacer estadisticas de reportes en PDF, EXCEL.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
