<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a type="button" class="btn btn-xs btn-link btn-toggle-fullwidth text-primary" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Generar reportes
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a [routerLink]="['/director/dashboard/data']"><i class="icon-home"></i></a>
					</li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item active">Generar reportes</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="block-header">

		<form class="container" #filtroForm="ngForm" (ngSubmit)="realizarFiltro()">
			<div class="form-group row">

				<label class="fancy-radio col-12 col-md-3">
					<input type="radio" name="tipoFecha" id="inlineRadio1" value="inicio" [(ngModel)]="filtro.tipoFecha" #tipoFecha="ngModel" >
					<span><i></i>Fecha de inicio de proyecto</span>
				</label>
				<label class="fancy-radio col-12 col-md-3">
					<input type="radio" name="tipoFecha" id="inlineRadio2" value="final" [(ngModel)]="filtro.tipoFecha" #tipoFecha="ngModel">
					<span><i></i>Fecha de fin de proyecto</span>
				</label>
				<label class="fancy-radio col-12 col-md-3">
					<input type="radio" name="tipoFecha" id="inlineRadio3" value="ninguna" (ngModelChange)="this.filtro.fechaini =''; this.filtro.fechafin =''" [(ngModel)]="filtro.tipoFecha" #tipoFecha="ngModel">
					<span><i></i>Ninguna</span>
				</label>
			</div>

			<div class="form-group row">
				<label class="col-12 col-md-2" for="fecha_inicio">Rango fecha: </label>
				<div class="col-12 col-md-5">
					<div class="input-group">
						<input [(ngModel)]="filtro.fechaini" class="form-control" placeholder="yyyy-mm-dd"
							name="fechaini" #fechaini="ngModel" ngbDatepicker #dp1="ngbDatepicker" [disabled]="filtro.tipoFecha=='ninguna' ? true : false">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
								(click)="dp1.toggle()" type="button"><i class="icon-calendar"></i></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-5">
					<div class="input-group">
						<input [(ngModel)]="filtro.fechafin" class="form-control" placeholder="yyyy-mm-dd"
							name="fechafin" #fechafin="ngModel" ngbDatepicker #dp2="ngbDatepicker" [disabled]="filtro.tipoFecha=='ninguna' ? true : false">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
								(click)="dp2.toggle()" type="button"><i class="icon-calendar"></i></button>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-12 col-md-2" for="estado">Estado proyectos: </label>
				<div class="col-12 col-md-4">
					<select [(ngModel)]="filtro.estado" class="form-control" name="estado" #estado="ngModel">
						<option value="">-- Seleccionar estado --</option>
						<option value="activo">Activos</option>
						<option value="inactivo">Inactivos</option>
						<option value="pendiente">Pendientes</option>
						<option value="cerrado">Cerrados</option>
					</select>
				</div>
				<label class="col-12 col-md-2" for="proceso">Proceso proyecto: </label>
				<div class="col-6 col-md-2">
					<select [(ngModel)]="filtro.procesoini" class="form-control" name="procesoini"
						#procesoini="ngModel">
						<option value=''>-- Seleccionar inicial --</option>
						<option value=0>0</option>
						<option value=10>10</option>
						<option value=20>20</option>
						<option value=30>30</option>
						<option value=40>40</option>
						<option value=50>50</option>
						<option value=60>60</option>
						<option value=70>70</option>
						<option value=80>80</option>
						<option value=90>90</option>
						<option value=100>100</option>
					</select>
				</div>
				<div class="col-6 col-md-2">
					<select [(ngModel)]="filtro.procesofin" class="form-control" name="procesofin"
						#procesofin="ngModel">
						<option value=''>-- Seleccionar final --</option>
						<option value=0>0</option>
						<option value=10>10</option>
						<option value=20>20</option>
						<option value=30>30</option>
						<option value=40>40</option>
						<option value=50>50</option>
						<option value=60>60</option>
						<option value=70>70</option>
						<option value=80>80</option>
						<option value=90>90</option>
						<option value=100>100</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-12 col-md-2" for="departamento">Departamento: </label>
				<div class="col-12 col-md-4">
					<select [(ngModel)]="filtro.departamento" class="form-control" name="departamento"
						#departamento="ngModel" (ngModelChange)="obtenerProvincias()">
						<option value="">-- Seleccionar departamento --</option>
						<option *ngFor="let departamento of departamentos" [value]="departamento.value">
							{{departamento.depa}}</option>
					</select>
				</div>
				<label class="col-12 col-md-2" for="provincia">Provincia: </label>
				<div class="col-12 col-md-4">
					<select [(ngModel)]="filtro.provincia" class="form-control" name="provincia" #provincia="ngModel">
						<option value="">-- Seleccionar provincia --</option>
						<option *ngFor="let provincia of provincias" value="{{provincia.provi}}">{{provincia.provi}}
						</option>
					</select>
				</div>	
			</div>
			<hr>
			<div class="form-group row">
				<label class="col-12 col-md-2 my-1" for="basica">Información proyecto: </label>
				<ng-multiselect-dropdown class="col-12 col-md-10 my-1" name="multiSelect4" #multiSelect4="ngModel" [placeholder]="'Seleccionar Información proyecto'"
					[settings]="dropdownSettings4" [data]="dropdownList4" [(ngModel)]="filtro.mostrarInformacion">
				</ng-multiselect-dropdown>
				<label class="col-12 col-md-2 my-1" for="basica">Basica tecnica: </label>
				<ng-multiselect-dropdown class="col-12 col-md-10 my-1" name="multiSelect" #multiSelect="ngModel" [placeholder]="'Seleccionar basica tecnica'"
					[settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="filtro.mostrarBasicaTecnica">
				</ng-multiselect-dropdown>

				<label class="col-12 col-md-2 my-1" for="basica">Lugar de desarrollo: </label>
				<ng-multiselect-dropdown class="col-12 col-md-10 my-1" name="multiSelect3" #multiSelect3="ngModel" [placeholder]="'Seleccionar lugar desarrollo'"
					[settings]="dropdownSettings3" [data]="dropdownList3" [(ngModel)]="filtro.mostrarLugarDesarrollo">
				</ng-multiselect-dropdown>
				
				<label class="fancy-checkbox col-auto my-1">
					<input type="checkbox" id="mostrarCoordinador" name="mostrarCoordinador" [(ngModel)]="filtro.mostrarCoordinador">
					<span>Mostrar coordinador</span>
				</label>
				<label class="fancy-checkbox col-auto my-1">
					<input type="checkbox" id="mostrarInvestigador" name="mostrarInvestigador" [(ngModel)]="filtro.mostrarInvestigador">
					<span>Mostrar investigadores</span>
				</label>
				<label class="fancy-checkbox col-auto my-1">
					<input type="checkbox" id="mostrarConvenio" name="mostrarConvenio" [(ngModel)]="filtro.mostrarConvenio">
					<span>Mostrar convenios</span>
				</label>
				<label class="fancy-checkbox col-auto my-1">
					<input type="checkbox" id="mostrarContratado" name="mostrarContratado" [(ngModel)]="filtro.mostrarContratado">
					<span>Mostrar contratados</span>
				</label>
			</div>

			<div class="form-group row">
				<label class="col-12 col-md-2 mb-1" for="basica">Difusión: </label>
				<ng-multiselect-dropdown class="col-12 col-md-10 my-1" name="multiSelect2" #multiSelect2="ngModel" [placeholder]="'Seleccionar difusión'"
					[settings]="dropdownSettings2" [data]="dropdownList2" [(ngModel)]="filtro.mostrarDifusion">
				</ng-multiselect-dropdown>
			
				<label class="col-12 col-md-2 my-1" for="basica">Numero: </label>
				<ng-multiselect-dropdown class="col-12 col-md-10 my-1" name="multiSelect1" #multiSelect1="ngModel" [placeholder]="'Seleccionar numero'"
					[settings]="dropdownSettings1" [data]="dropdownList1" [(ngModel)]="filtro.mostrarNumero">
				</ng-multiselect-dropdown>
			</div>
			<hr>
			<div class="form-group row">
				<label class="col-12 col-md-2 my-1" for="basica">Publicaciones: </label>
				<ng-multiselect-dropdown class="col-12 col-md-10 my-1" name="multiSelect5" #multiSelect5="ngModel" [placeholder]="'Seleccionar publicaciones'"
					[settings]="dropdownSettings5" [data]="dropdownList5" [(ngModel)]="filtro.mostrarPublicacion">
				</ng-multiselect-dropdown>
			</div>
			<div class="form-group row navbar-form search-form" id="navbar-search">
				<input class="form-control" placeholder="Filtrar" type="text"
					(keyup)="applyFilter($event.target.value)" />
				<button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
			</div>

			<div class="align-center">
				<button class="btn btn-secondary mr-2" type="submit">Filtrar datos</button>
				<button class="btn btn-dark" (click)="vaciarFiltro()" type="button">Cancelar</button>
			</div>



		</form>
	</div>

	<div>
		<button type="button" class="btn btn-default mr-1 mb-3" (click)="imprimir(exporter)">
			<i class="fa fa-print"></i>&nbsp;<span>Imprimir</span>
		</button>
		<button type="button" class="btn btn-default mr-1 mb-3"
			(click)="exporter.exportTable('xlsx', { fileName:'reporte' })">
			<i class="fa fa-file-excel-o"></i>&nbsp;<span>Excel</span>
		</button>
		<button type="button" class="btn btn-default mr-1 mb-3"
			(click)="exporter.exportTable('csv', { fileName:'reporte' })">
			<i class="fa fa-file-archive-o"></i>&nbsp;<span>CSV</span>
		</button>
		<button type="button" class="btn btn-default mr-1 mb-3"
			(click)="exporter.exportTable('json', { fileName:'reporte' })">
			<i class="fa fa-file-code-o"></i>&nbsp;<span>JSON</span>
		</button>
		<button type="button" class="btn btn-default mr-1 mb-3"
			(click)="exporter.exportTable('txt', { fileName:'reporte' })">
			<i class="fa fa-file-text-o"></i>&nbsp;<span>TEXT</span>
		</button>
	</div>

	<!-- <div class="mb-1">
		<button type="button" (click)="addColumn()"> Add column </button>
		<button type="button" (click)="removeColumn()"> Remove column </button>
		<button type="button" (click)="shuffle()"> Shuffle </button>
	</div> -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card planned_task">
				<div class="body">
					<h2 class="align-center" *ngIf="!this.filtro.mostrarPublicacion">Lista de proyectos de investigación</h2>
					<h2 class="align-center" *ngIf="this.filtro.mostrarPublicacion">Lista de publicaciones</h2>
					<span *ngIf="!this.filtro.mostrarPublicacion"><b>Proyectos en total: </b> {{this.proyectos.length}}</span>
					<span *ngIf="this.filtro.mostrarPublicacion"><b>Publicaciones en total: </b> {{this.proyectos.length}}</span>
					<div class="table-responsive">
						<table class="table-hover" mat-table matTableExporter matSort [dataSource]="dataSource" #exporter="matTableExporter">
							<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
								<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
								<!-- <td mat-cell *matCellDef="let element"> {{ (element[column].length>50)? (element[column] | slice:0:50)+'......':(element[column]) }} </td> -->
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
							<tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
						</table>
						<mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage" [showFirstLastButtons]="true"></mat-paginator>						
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- *************************************** MODAL BASICA TECNICA *************************************** -->
<ng-template #content1 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Reporte</h4>
	</div>
	<div class="modal-body">
		hola
	</div>
</ng-template>