<div class="container-fluid profilepage_2 blog-page">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a type="button" class="btn btn-xs btn-link btn-toggle-fullwidth text-primary" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Perfil investigador
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['../../../']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item">Perfil investigador</li>
					<li class="breadcrumb-item active">{{ id_persona }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-lg-4 col-md-12">
			<div class="card profile-header">
				<div class="body">
					<div class="profile-image"> <img src="{{who +'fotografias/'+ persona.fotografia.imagen + '/true'}}" class="rounded-circle" alt="fotografia"> </div>
					<div>
						<h4 class="m-b-0">
							<!-- <strong>{{persona.grado_academico}}</strong>&nbsp; -->
							{{persona.nombres}} {{persona.paterno}} 
							<!-- {{persona.materno}} -->
						</h4>
						<div *ngIf="persona.ciudad && persona.pais">
							<p><i class="fa fa-map-marker"></i> &nbsp; {{persona.ciudad}}, {{persona.pais}}</p>
						</div>
						<p>Investigador</p>
						<p>Instituto de Ecología (IE)</p>
						<p><i class="fa fa-paper-plane"></i> &nbsp; <a href="mailto:{{persona.correo}}" class="text-dark" target="_blank">{{persona.correo}}</a></p>
						<small *ngIf="persona.archivo"><a class="text-primary" type="button" target="_blank" href="{{who +'profiles/'+ persona.archivo}}"><i class="fa fa-file-pdf-o"></i> &nbsp;CV {{persona.paterno}} {{persona.nombres}}.pdf</a></small>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="header">
					<h2>Informacion Personal</h2>
				</div>
				<div class="body">
					<small class="text-muted">Direccion: </small>
					<p>{{persona.direccion1}}</p>
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.766504186264!2d-68.06978108512372!3d-16.537881546085497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2192074626e7%3A0x94b64ad0dc9f22a4!2sInstituto%20de%20Ecolog%C3%ADa%20(IE)%20-%20Carrera%20de%20Biolog%C3%ADa!5e0!3m2!1ses-419!2sbo!4v1604522758499!5m2!1ses-419!2sbo" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
					<hr>
					<div *ngIf="persona.telefono">
						<hr>
						<small class="text-muted">Telefono: </small>
						<p>{{persona.telefono}}</p>
					</div>
					<div *ngIf="persona.celular">
						<hr>
						<small class="text-muted">Celular: </small>
						<p>{{persona.celular}}</p>
					</div>
					<div *ngIf="persona.fec_nacimiento">
						<hr>
						<small class="text-muted">Fecha de nacimiento: </small>
						<p class="m-b-0">{{persona.fec_nacimiento | date}}</p>
					</div>
					<div *ngIf="persona.lenguaje">
						<hr>
						<small class="text-muted">Idiomas: </small>
						<p class="m-b-0">{{persona.lenguaje}}</p>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="header">
					<h2>Formacion cademica</h2>
				</div>
				<div class="body">
					<p *ngIf="!persona.formacion_pro && !persona.formacion_adi && !persona.habilidades && !persona.conclusion">toda su informacion academica</p>
					<div *ngIf="persona.formacion_pro">
						<hr>
						<small class="text-muted">Formacion profesional: </small>
						<p class="m-b-0">{{persona.formacion_pro}}</p>
					</div>
					<div *ngIf="persona.formacion_adi">
						<hr>
						<small class="text-muted">Formacion adicional: </small>
						<p class="m-b-0">{{persona.formacion_adi}}</p>
					</div>
					<div *ngIf="persona.habilidades">
						<hr>
						<small class="text-muted">Habilidades: </small>
						<p class="m-b-0">{{persona.habilidades}}</p>
					</div>
					<div *ngIf="persona.conclusion">
						<hr>
						<small class="text-muted">Conclusion: </small>
						<p class="m-b-0">{{persona.conclusion}}</p>
					</div>
				</div>
			</div>

		</div>

		<div class="col-lg-6 col-md-12">
			<div class="tab-content padding-0">
				<div class="card" *ngIf="publicaciones.length === 0">
					<div class="body text-center">
						<div class="not_found">
								<h4 class="m-b-0">Lo sentimos, No se encontraron publicaciones.</h4>
						</div>
					</div>
				</div>
				<div class="card overflowhidden" *ngFor="let publi of publicaciones | paginate: { id: 'publicaciones', itemsPerPage: 3, currentPage: page }">

					<div class="body top_counter bg-color">
						<div class="content text-light">
							<span class="h1">{{publi.anio}}</span>
						</div>
					</div>
					
					<div class="body" *ngFor="let publicacion of publi.publicaciones ; let i = index">
						<span class="mb-0 text-primary h6"><a [routerLink]="['../../inv-profile-post/', id_persona, publicacion.id_publicacion]">{{publicacion.titulo}}</a></span>
						<!-- <small>https://themeforest.net/user/wraptheme/portfolio</small> -->
						<p class="m-t-10">{{publicacion.contenido | slice:0:300}} 
							<span *ngIf="publicacion.contenido.length > 300">....</span></p>
						<div *ngFor="let archivo of publicacion.archivos">
						  <small *ngIf="isPdf(archivo.archivo)" >
							<a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank"><i
								class="fa fa-file-pdf-o text-primary"></i>&nbsp; {{archivo.nombre}}.pdf</a>
						  </small>
						  <small *ngIf="!isPdf(archivo.archivo)">
							<a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank"><i class="fa fa-file-photo-o text-primary">&nbsp; {{archivo.nombre}}.png</i></a>
						  </small>
						  	<div class="row">
								<div class="col-md-12 align-right">
								<a type="button" class="btn btn-color" href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank">Descargar</a>
								</div>
							</div>
						</div>
						<hr class="mb-0" *ngIf="i < publi.publicaciones.length - 1">
					</div>	
				</div>
				<pagination-controls id="publicaciones" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
			</div>
		</div>
		<div class="col-lg-2 col-md-12">
			<div class="card weather6"> 
				<div class="body">
					<div class="p-15">
						<div class="temp">
							<i class="fa fa-file-text text-color"></i>
						</div>
					</div>
					<p>{{nroPublicaciones}}</p>
				</div>
			</div>
		</div>
		
	</div>
</div>