@import "../../../../assets/css/blog.css";
@import "../../../../assets/css/ecommerce.css";

.icons-list a {
    line-height: 40px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}
.icons-list a img {
    display: inline-block;
    width: 80px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: font-size 0.2s;
    -moz-transition: font-size 0.2s;
    transition: font-size 0.2s;
}
.icons-list a:hover img {
    /* font-size: 46px; */
    width: 82px;
}
