<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas" (click)="toggleSideMenu()"><i
                    class="lnr lnr-menu fa fa-bars"></i></button>
        </div>
        <div class="navbar-brand">
            <a *ngIf="!darkClass" [ngStyle]="{'color': '#5A5A5A'}" [routerLink]="['./']"><b>I</b>nstituto<b>E</b>cologia</a>
            <a *ngIf="darkClass" [ngStyle]="{'color': '#92929C'}" [routerLink]="['./']"><b>I</b>nstituto<b>E</b>cologia</a>
        </div>
        <div class="navbar-right">
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ngbDropdown>
                        <a type="button" class="dropdown-toggle icon-menu d-none d-sm-block" ngbDropdownToggle>
                            <div class="icons-list">
                                <i class="icon-user"></i> <strong> {{persona.grado_academico}}</strong> {{persona.nombres}} {{persona.paterno}} {{persona.materno}}
                            </div>
                        </a>
                        <ul class="dropdown-menu user-menu menu-icon" ngbDropdownMenu>
                            <li class="menu-heading">CUENTA</li>
                            <li *ngIf="rol==='investigador'"><a [routerLink]="['dashboard/profile']"><i class="icon-user"></i> <span>Mi perfil</span></a></li>
                            <li><a href="javascript:void(0);" [routerLink]="['./settings/account']"><i class="icon-settings"></i> <span>Configuraciones</span></a></li>
                            <li><a href="javascript:void(0);" (click)="logout()"><i class="icon-power"></i> <span>Salir</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a type="button" class="icon-menu" (click)="logout()"><i class="icon-login"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>