<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="card">
                    <div class="header">
                        <p class="lead">Recuperar mi contraseña</p>
                    </div>
                    <div class="body">
                        <p>Ingrese su dirección de correo electrónico a continuación para recibir instrucciones para restablecer la contraseña.</p>
                        <form class="form-auth-small" #lockForm="ngForm" (ngSubmit)="recuperar()">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Correo Electronico" name="correo" [(ngModel)]="persona.correo" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">RESTABLECER LA CONTRASEÑA</button>
                            <div class="bottom">
                                <span class="helper-text">¿Sabes tu contraseña? <a
                                        [routerLink]="['/authentication/login']">Iniciar sesión</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-align-middle">
            <div class="mx-5 d-none d-sm-none d-lg-block">
              <div class="row">
                <div class="col-12 align-center">
                  <img src="assets/images/logo_ie.png" height="330px" alt="logo umsa">
                </div>
              </div>
              <hr>
              <div class="align-center">
                <span>Campus Universitario: Calle 27 Cota - Cota, Zona sur, Telf. (5912) 2792582, 2792416, 2772768</span><br>
                <span>Casilla 10077 - Correo Central, La Paz, Bolivia, Fax 591-2-2797511</span><br>
                <span>Email: dir.ie.umsa@gmail.com</span>  
              </div>        
            </div>
        </div>
    </div>
</div>