<div class="sidebar" id="left-sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="{{who +'fotografias/'+ imagen + '/true'}}" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown" ngbDropdown>
                <span>Bienvenido,</span>
                <a type="button" class="dropdown-toggle user-name" ngbDropdownToggle><strong>{{ rol | titlecase }}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account" ngbDropdownMenu>
                    <li class="menu-heading">CUENTA</li>
                    <li *ngIf="rol==='investigador'"><a [routerLink]="['dashboard/profile']"><i class="icon-user"></i>Mi perfil</a></li>
                    <li><a [routerLink]="['./settings/account']"><i class="icon-settings"></i>Configuraciones</a></li>
                    <li><a type="button" (click)="logout()"><i class="icon-power"></i>Salir</a></li>
                </ul>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'menu'}" (click)="changeNavTab('menu')">Menu</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'setting'}" (click)="changeNavTab('setting')"><i
                        class="icon-settings"></i></a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'question'}" (click)="changeNavTab('question')"><i
                        class="icon-question"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <!-- MENU INVESTIGADOR -->
                    <ul id="main-menu" class="metismenu" *ngIf="rol==='investigador'">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'menu-inv'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('menu-inv')"><i class="icon-home"></i>
                                <span>Dashboard</span></a>
                            <ul *ngIf="currentActiveMenu == 'menu-inv'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/menu']">Menu principal</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'profile-inv'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('profile-inv')"><i class="icon-user"></i>
                                <span>Mi perfil</span></a>
                            <ul *ngIf="currentActiveMenu == 'profile-inv'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/profile']">Mi perfil</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'proyectos-inv'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('proyectos-inv')"><i class="icon-layers"></i>
                                <span>Proyectos</span></a>
                            <ul *ngIf="currentActiveMenu == 'proyectos-inv'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/list-proyectos-inv','proyecto']">Listar proyectos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/list-proyectos-inv','activo']">Listar proyectos activos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/list-proyectos-inv','inactivo']">Listar proyectos inactivos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/list-proyectos-inv','pendiente']">Listar proyectos pendientes</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/investigador/dashboard/list-proyectos-inv','cerrado']">Listar proyectos cerrados</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- MENU ADMINISTRADOR -->
                    <ul id="main-menu" class="metismenu" *ngIf="rol == 'administrador'">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'principal'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('principal')"><i class="icon-home"></i>
                                <span>Dashboard</span></a>
                            <ul *ngIf="currentActiveMenu == 'principal'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/index']">Principal</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'fotografias'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('fotografias')"><i class="icon-picture"></i> <span>Fotografias</span></a>
                            <ul *ngIf="currentActiveMenu == 'fotografias'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-fotografias']">Listar fotografias</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'usuarios'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('usuarios')"><i class="icon-users"></i>
                                <span>Usuarios</span></a>
                            <ul *ngIf="currentActiveMenu == 'usuarios'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'usuario']">Listar usuarios</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'administrador']">Listar administradores</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'director']">Listar directores</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'investigador']">Listar investigadores</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'inv-titular']">Listar investigadores titulares</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'inv-asociado-proyecto']">Listar investigadores asociados con proyecto</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-usuarios', 'inv-asociado-invitacion']">Listar investigadores asociados con invitacion</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'proyectos'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('proyectos')"><i class="icon-layers"></i>
                                <span>Proyectos</span></a>
                            <ul *ngIf="currentActiveMenu == 'proyectos'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-proyectos', 'proyecto']">Listar proyectos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-proyectos', 'activo']">Listar proyectos activos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-proyectos', 'inactivo']">Listar proyectos inactivos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-proyectos', 'pendiente']">Listar proyectos pendientes</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/dashboard/list-proyectos', 'cerrado']">Listar proyectos cerrados</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- MENU DIRECTOR -->
                    <ul id="main-menu" class="metismenu" *ngIf="rol==='director'">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'data'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('data')"><i class="icon-home"></i>
                                <span>Dashboard</span></a>
                            <ul *ngIf="currentActiveMenu == 'data'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/data']">Principal</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'proyectos-dir'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('proyectos-dir')"><i class="icon-users"></i>
                                <span>Proyectos</span></a>
                            <ul *ngIf="currentActiveMenu == 'proyectos-dir'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-proyectos', 'proyecto']">Listar proyectos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-proyectos', 'activo']">Listar proyectos activos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-proyectos', 'inactivo']">Listar proyectos inactivos</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-proyectos', 'pendiente']">Listar proyectos pendientes</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-proyectos', 'cerrado']">Listar proyectos cerrados</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'investigadores'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('investigadores')"><i class="icon-layers"></i>
                                <span>Investigadores</span></a>
                            <ul *ngIf="currentActiveMenu == 'investigadores'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-investigadores', 'investigador']">Listar investigadores</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-investigadores', 'inv-titular']">Listar investigadores titulares</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-investigadores', 'inv-asociado-proyecto']">Listar investigadores asociados con proyecto</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/list-investigadores', 'inv-asociado-invitacion']">Listar investigadores asociados con invitacion</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="{'active':currentActiveMenu == 'reportes'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('reportes')"><i class="icon-earphones"></i>
                                <span>Reportes</span></a>
                            <ul *ngIf="currentActiveMenu == 'reportes'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/director/dashboard/generate-reportes']">Generar reportes</a></li>
                            </ul>
                        </li>
                        
                    </ul>

                </nav>
            </div>
            <div class="tab-pane p-l-15 p-r-15" id="setting" [ngClass]="{'active':navTab == 'setting'}">
                <h6>Elegir tema</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="white" [ngClass]="{'active':darkClass == ''}" (click)="changeDarkMode('')">
                        <div class="white"></div>
                        <span>Claro</span>
                    </li>
                    <li data-theme="black" [ngClass]="{'active':darkClass == 'full-dark'}" (click)="changeDarkMode('full-dark')">
                        <div class="black"></div>
                        <span>Oscuro</span>
                    </li>
                </ul>
                <hr>
                <h6>Elegir color</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="purple" [ngClass]="{'active':themeClass == 'theme-purple'}" (click)="changeTheme('theme-purple')">
                        <div class="purple"></div>
                        <span>Morado</span>
                    </li>
                    <li data-theme="blue" [ngClass]="{'active':themeClass == 'theme-blue'}" (click)="changeTheme('theme-blue')">
                        <div class="blue"></div>
                        <span>Azul</span>
                    </li>
                    <li data-theme="cyan" [ngClass]="{'active':themeClass == 'theme-cyan'}" (click)="changeTheme('theme-cyan')">
                        <div class="cyan"></div>
                        <span>Cyan</span>
                    </li>
                    <li data-theme="green" [ngClass]="{'active':themeClass == 'theme-green'}" (click)="changeTheme('theme-green')">
                        <div class="green"></div>
                        <span>Verde</span>
                    </li>
                    <li data-theme="orange" [ngClass]="{'active':themeClass == 'theme-orange'}" (click)="changeTheme('theme-orange')">
                        <div class="orange"></div>
                        <span>Naranja</span>
                    </li>
                    <li data-theme="blush" [ngClass]="{'active':themeClass == 'theme-blush'}" (click)="changeTheme('theme-blush')">
                        <div class="blush"></div>
                        <span>Rosado</span>
                    </li>
                </ul>
            </div>
            <div class="tab-pane p-l-15 p-r-15" id="question" [ngClass]="{'active':navTab == 'question'}">
                <ul class="list-unstyled question">
                    <li class="menu-heading">Cuenta</li>
                    <li><a [routerLink]="['./help/cuenta/', '1']">¿Cómo acceder a una cuenta?</a></li>
                    <li><a [routerLink]="['./help/cuenta/', '2']">¿Cómo dar de baja mi cuenta?</a></li>
                    <li><a [routerLink]="['./help/cuenta/', '3']">¿Qué hago si olvide mi contraseña?</a></li>
                    <li class="menu-heading">Administrador</li>
                    <li><a [routerLink]="['./help/admin/', '1']">¿Cómo administrar cuentas?</a></li>
                    <li><a [routerLink]="['./help/admin/', '2']">¿Cómo crear proyectos de investigación?</a></li>
                    <li><a [routerLink]="['./help/admin/', '3']">¿Cómo administrar proyectos de investigación?</a></li>
                    <li class="menu-heading">Director</li>
                    <li><a [routerLink]="['./help/director/', '1']">¿Cómo administrar proyectos de investigación?</a></li>
                    <li><a [routerLink]="['./help/director/', '2']">¿Cómo administrar investigadores?</a></li>
                    <li><a [routerLink]="['./help/director/', '3']">¿Cómo generar reportes?</a></li>
                    <li class="menu-heading">Investigador</li>
                    <li><a [routerLink]="['./help/investigador/', '1']">¿Cómo administrar proyectos de investigación?</a></li>
                    <li><a [routerLink]="['./help/investigador/', '2']">¿Cómo dar de concluido el proyecto?</a></li>
                    <li><a [routerLink]="['./help/investigador/', '3']">¿Cómo realizar una publicación?</a></li>
                    <li><a [routerLink]="['./help/investigador/', '4']">¿Cómo realizar difusiones?</a></li>
                    <div class="menu-button m-t-30">
                        <a type="button" href="mailto:dir.ie.umsa@gmail.com" target="_blank" class="btn btn-primary"><i class="icon-question"></i> ¿Necesita ayuda?</a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>