<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="top">
                    <img src="assets/images/logo-white.svg" alt="Lucid">
                </div>
                <div class="card">
                    <div class="header">
                        <h3>
                            <span class="clearfix title">
                                <span class="number">Error 401</span> <br>
                                <span>Tenemos problemas con la recuperacion de cuenta</span>
                            </span>
                        </h3>
                    </div>
                    <div class="body">
                        <p>Aparentemente su token de recuperacion ha expirado
                            <br>Por favor intente nuevamente.</p>
                        <p><a [routerLink]="['/authentication/forgot-password']" class="btn btn-primary"><i
                                    class="fa fa-home"></i>&nbsp;<span>INICIO</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>