<div id="wrapper">
    <div class="vertical-align-wrap">
      <div class="vertical-align-middle auth-main">
        <div class="auth-box">
          <div class="top">
          </div>
          <div class="card">
            <div class="header">
              <p class="lead align-center">Iniciar sesión</p>
            </div>
            <div class="body">
              <form #loginForm="ngForm" (ngSubmit)="login()" class="form-auth-small">
                <div class="form-group">
                  <label for="nombre" class="control-label sr-only">Usuario</label>
                  <input type="text" class="form-control" placeholder="Usuario" #nombre="ngModel" name="usuario"
                    [(ngModel)]="usuario.usuario" required>
                </div>
                <div class="input-group" style="margin-bottom: 10px;">
                  <label for="password" class="control-label sr-only">Contraseña</label>
                  <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Password" #password="ngModel" name="password"
                    [(ngModel)]="usuario.password" required>
                  <button type="button" id="btnToggle" class="toggle">
                    <i id="eyeIcon" class="fa"
                        [ngClass]="{
                          'fa-eye-slash': !showPassword,
                          'fa-eye': showPassword
                        }"
                        (click)="onPasswordToggle()"
                      ></i>
                  </button>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">INGRESAR</button>
                <div class="bottom">
                  <span class="helper-text m-b-10"><i class="fa fa-lock"></i>&nbsp;<a
                      [routerLink]="['/authentication/forgot-password']">¿Olvido su contraseña?</a></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-align-middle">
        <div class="mx-5 d-none d-sm-none d-lg-block">
          <p class="align-center h1">Instituto de Ecología</p>
          <p class="align-center h5">Facultad de Ciencias Puras y Naturales - Universidad Mayor de San Andrés</p>
          <div class="row">
            <div class="col-4 align-center flex-center">
              <img src="assets/images/logo_ie_1.png" height="186px" alt="logo umsa">
            </div>
            <div class="col-4 align-center">
              <img src="assets/images/umsa-logo.png" height="200px" alt="logo fcpn">
            </div>
            <div class="col-4 align-center"> 
              <img src="assets/images/fcpn_new.png" height="186px" alt="logo biologia">
            </div>
          </div>
          <hr>
          <div class="align-center">
            <span>Campus Universitario: Calle 27 Cota - Cota, Zona sur, Telf. (5912) 2792582, 2792416, 2772768</span><br>
            <span>Casilla 10077 - Correo Central, La Paz, Bolivia, Fax 591-2-2797511</span><br>
            <span>Email: dir.ie.umsa@gmail.com</span>  
          </div>        
        </div>
      </div>
    </div>
  </div>

  <div style="position: relative;">
    <div style="position: absolute; top: 0; right: 0; padding-right: 10px;">
        <div class="bottom">
            <a [routerLink]="['/home/dashboard/stories']">Lista de publicaciones</a>
        </div>
    </div>
  </div>
  
  <!-- MODAL -->
  <button style="visibility:hidden;" type="button" class="btn btn-success" #btnOpen data-toggle="modal"
    data-target="#modalPregunta">Open</button>
  <div class="modal fade" id="modalPregunta" tabindex="-1" role="dialog" aria-labelledby="modalPreunta"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title h5" id="exampleModalLabel" *ngIf="roles.length > 0">Usted tiene los siguienes permisos.</p>
          <p class="modal-title h5" id="exampleModalLabel" *ngIf="roles.length === 0">Sus cuenta(s) estan desactivadas</p>
          <button type="button" #btnClose class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="roles.length === 0">
          <p>Debe comunicarse con Dirección IE, no tiene acceso al sistema</p>
        </div>
        <div class="modal-body product_item" *ngFor="let rol of roles">
          
            <div *ngIf="roles.length != null">
              <div class="cp_img" (click)="ingresar(rol.id_rol)">
                <img *ngIf="rol.id_rol === 1" src="assets/images/users/user_admin.png" alt="admin" class="img-fluid">
                <img *ngIf="rol.id_rol === 2" src="assets/images/users/user_director.png" alt="director" class="img-fluid">
                <img *ngIf="rol.id_rol === 3" src="assets/images/users/user_investigador.png" alt="investigador" class="img-fluid">
                <div class="hover">
                  <!-- <a type="button" (click)="ingresar(rol.id_rol)" class="btn btn-primary mr-1"><i class="icon-login"></i></a> -->
                  <span class="h5"><a type="button">{{rol.adm_role.rol}}</a></span>
                  
                </div>
              </div>
              <div class="product_details">
                <ul class="product_price list-unstyled">
                  <li class="old_price">{{rol.adm_role.descripcion}}</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  