<div id="wrapper">
    <div class="vertical-align-wrap">
      <div class="vertical-align-middle auth-main">
        <p class="h3 ml-lg-5 ml-md-4 ml-sm-3 ml-2 mr-lg-5 mr-md-4 mr-sm-3 mr-2 align-center">SISTEMA DE SEGUIMIENTO Y CONTROL DE PROYECTOS DE INVESTIGACIÓN</p>
        <div class="auth-box">
          <div class="top">
            <img src="assets/images/instituto/logo_ie.png" alt="logo">
            <!-- <img src="assets/images/logo-white.svg" alt="Lucid"> -->
          </div>
          <div class="card">
            <div class="header">
              <p class="lead">Ingrese a su cuenta</p>
            </div>
            <div class="body">
              <form #loginForm="ngForm" (ngSubmit)="login()" class="form-auth-small">
                <div class="form-group">
                  <label for="nombre" class="control-label sr-only">Usuario</label>
                  <input type="text" class="form-control" placeholder="Usuario" #nombre="ngModel" name="usuario"
                    [(ngModel)]="usuario.usuario" required>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label sr-only">Contraseña</label>
                  <input type="password" class="form-control" placeholder="Password" #password="ngModel" name="password"
                    [(ngModel)]="usuario.password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">INGRESAR</button>
                <div class="bottom">
                  <span class="helper-text m-b-10"><i class="fa fa-lock"></i>&nbsp;<a
                      [routerLink]="['/authentication/forgot-password']">¿Olvido su contraseña?</a></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- MODAL -->
  <button style="visibility:hidden;" type="button" class="btn btn-success" #btnOpen data-toggle="modal"
    data-target="#modalPregunta">Open</button>
  <div class="modal fade" id="modalPregunta" tabindex="-1" role="dialog" aria-labelledby="modalPreunta"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Elegir un usuario</h5>
          <button type="button" #btnClose class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngFor="let rol of roles">
          <button *ngIf="roles.length != null" class="btn btn-success" (click)="ingresar(rol.id_rol)">{{rol.adm_role.rol}}</button>
        </div>
      </div>
    </div>
  </div>