<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="top">
                    <img src="assets/images/logo-white.svg" alt="Lucid">
                </div>
                <div class="card">
                    <div class="header">
                        <h3>
                            <span class="clearfix title">
                                <span class="number left">404</span> <span class="text">Oops! <br>Página no encontrada</span>
                            </span>
                        </h3>
                    </div>
                    <div class="body">
                        <p>No se pudo encontrar la página que estaba buscando, por favor <a
                                href="javascript:void(0);">Contáctenos</a> para informar este problema.</p>
                        <div class="margin-top-30">
                            <a href="javascript:history.go(-1)" class="btn btn-default"><i
                                    class="fa fa-arrow-left"></i>&nbsp;<span>Regresar</span></a>&nbsp;
                            <a [routerLink]="['/home']" class="btn btn-primary"><i
                                    class="fa fa-home"></i>&nbsp;<span>INICIO</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>