<div class="container-fluid profilepage_2 blog-page">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					Investigador
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['../profile']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item active">Perfil de Investigador</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-lg-4 col-md-12">
			<div class="card profile-header">
				<div class="body">
					<div class="profile-image rounded-circle"> <img src="{{url +'get-fotografia/'+ fotografia.imagen + '/true'}}" alt="fotografia"> </div>
					<div>
						<h4 class="m-b-0"><strong>{{persona.nombres}}</strong> {{persona.paterno}} {{persona.materno}}</h4>
						<span>{{persona.ciudad}}, {{persona.pais}}</span>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="header">
					<h2>Informacion Personal</h2>
				</div>
				<div class="body">
					<small class="text-muted">Direccion: </small>
					<p>{{persona.direccion1}}</p>
					<div>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923731.7533500232!2d-120.39098936853455!3d37.63767091877441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522391841133"
							width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<hr>
					<small class="text-muted">Correo electronico: </small>
					<p>{{persona.correo}}</p>
					<div *ngIf="persona.telefono">
						<hr>
						<small class="text-muted">Telefono: </small>
						<p>{{persona.telefono}}</p>
					</div>
					<div *ngIf="persona.celular">
						<hr>
						<small class="text-muted">Celular: </small>
						<p>{{persona.celular}}</p>
					</div>
					<div *ngIf="persona.fec_nacimiento">
						<hr>
						<small class="text-muted">Fecha de nacimiento: </small>
						<p class="m-b-0">{{persona.fec_nacimiento | date}}</p>
					</div>
					<div *ngIf="persona.lenguaje">
						<hr>
						<small class="text-muted">Idiomas: </small>
						<p class="m-b-0">{{persona.lenguaje}}</p>
					</div>
					<div *ngIf="persona.formacion_pro">
						<hr>
						<small class="text-muted">Formacion profesional: </small>
						<p class="m-b-0">{{persona.formacion_pro}}</p>
					</div>
					<div *ngIf="persona.formacion_adi">
						<hr>
						<small class="text-muted">Formacion adicional: </small>
						<p class="m-b-0">{{persona.formacion_adi}}</p>
					</div>
					<div *ngIf="persona.habilidades">
						<hr>
						<small class="text-muted">Habilidades: </small>
						<p class="m-b-0">{{persona.habilidades}}</p>
					</div>
					<div *ngIf="persona.conclusion">
						<hr>
						<small class="text-muted">Conclusion: </small>
						<p class="m-b-0">{{persona.conclusion}}</p>
					</div>
					<hr>
					<small class="text-muted">Social: </small>
					<p><i class="fa fa-twitter m-r-5"></i> twitter.com/example</p>
					<p><i class="fa fa-facebook  m-r-5"></i> facebook.com/example</p>
					<p><i class="fa fa-github m-r-5"></i> github.com/example</p>
					<p><i class="fa fa-instagram m-r-5"></i> instagram.com/example</p>
				</div>
			</div>

			<div class="card">
				<div class="header">
					<h2>Formacion cademica</h2>
				</div>
				<div class="body">
					<p>toda su informacion academica</p>
				</div>
			</div>

		</div>

		<div class="col-lg-8 col-md-12">
			<div class="tab-content padding-0">
				<div class="card" *ngIf="publicaciones.length === 0">
					<div class="body text-center">
						<div class="not_found">
								<h4 class="m-b-0">Lo sentimos, No se encontraron publicaciones.</h4>
						</div>
					</div>
				</div>
				<div *ngFor="let publicacion of publicaciones" class="card single_post">
					<div class="body">
						<div class="img-post">
							<img class="d-block img-fluid" src="{{url +'get-fotografia/'+ 'logo-pdf.jpg' + '/false'}}" alt="publicacion">
						</div>
						<h3><a [routerLink]="['../profile-post/', publicacion.id_publicacion]">{{publicacion.titulo}}</a></h3>
						<small>{{publicacion.fecha | date}}</small>
						<p>{{publicacion.contenido}}</p>
						<a *ngFor="let archivo of publicacion.archivos" href="{{url +'get-archivo/'+archivo.archivo}}" target="_blank">{{url +'get-archivo/'+archivo.archivo}}</a>
					</div>
					<div class="footer">
						<div class="actions">
							<a type="button" class="btn btn-outline-secondary" [routerLink]="['../profile-post/', publicacion.id_publicacion]">Continuar leyendo</a>
						</div>
						<ul class="stats">
							<li><a href="javascript:void(0);">Comentarios</a></li>
							<li><a href="javascript:void(0);" class="icon-bubbles">2</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>