<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a type="button" class="btn btn-xs btn-link btn-toggle-fullwidth text-primary" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Publicación
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item"><a [routerLink]="['../../../inv-profile', id_persona]">Perfil investigador</a></li>
                    <li class="breadcrumb-item">{{id_persona}}</li>
                    <li class="breadcrumb-item active">{{id_publicacion}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card right-box single_post">
				<div class="body">
					<span class="m-t-0 m-b-5 text-dark h2">{{publicacion.titulo}}</span>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Titulo</b>
								<span class="col-12 col-sm-10">{{publicacion.titulo}}</span>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Tipo de publicación</b>
								<span class="col-12 col-sm-10">{{publicacion.tipo}}</span>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Publicado por</b>
								<span class="col-12 col-sm-10">{{publicacion.autores}}</span>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Año de publicación</b>
								<span class="col-12 col-sm-10">{{publicacion.fecha | date: 'yyyy'}}</span>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Autores</b>
								<span class="col-12 col-sm-10">{{publicacion.autor}}</span>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Cita biobliografica</b>
								<span class="col-12 col-sm-10">{{publicacion.contenido}}</span>
							</div>
						</li>
						<li class="list-group-item" *ngIf="publicacion.resumen">
							<div class="row">
								<b class="col-12 col-sm-2">Resumen</b>
								<span class="col-12 col-sm-10">{{publicacion.resumen}}</span>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<b class="col-12 col-sm-2">Publicación</b>
								<div class="col-12 col-sm-10" *ngFor="let archivo of publicacion.archivos">
									<span *ngIf="isPdf(archivo.archivo)" >
									  <a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank"><i class="fa fa-file-pdf-o text-primary"></i>&nbsp; {{archivo.nombre}}.pdf</a>
									</span>
									<span *ngIf="!isPdf(archivo.archivo)">
									  <a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank"><i class="fa fa-file-photo-o text-primary">&nbsp; {{archivo.nombre}}.png</i></a>
									</span>
								  </div>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="header">
					<h2>Comentarios</h2>
				</div>
				<div class="body">
					<form #comentarioForm="ngForm" (ngSubmit)="guardarComentario()">
						<div class="form-group">
							<textarea rows="3" class="form-control no-resize" placeholder="Escribe aqui su comentario..." [(ngModel)]="comentario.comentario" name="contenido" 
							#contenido="ngModel" required>
							</textarea>
							
						</div>
						<button class="btn btn-primary mr-1" [disabled]="!comentarioForm.form.valid" type="submit">Comentar</button>
						<button class="btn btn-danger" (click)="comentario={};" type="button">Cancelar</button>
						<a type="button" class="float-right text-primary">Numero comentarios: <b>{{publicacion.nroComentarios}}</b></a>
					</form>
					<hr>

					<div class="not_found" *ngIf="comentarios.length === 0">
						<h4 class="m-b-0">Lo sentimos, no tiene comentarios.</h4>
					</div>

					<ul class="right_chat list-unstyled" *ngIf="comentarios.length > 0">
						<li class="online" *ngFor="let comentario of comentarios">
							<a>
								<div class="media">
									<img class="media-object " src="{{who +'fotografias/'+ comentario.persona.fotografia.imagen + '/true'}}" alt="image-user">
									<div class="media-body">
										<span class="name"><b>{{comentario.persona.grado_academico}}</b> {{comentario.persona.nombres}} {{comentario.persona.paterno}} {{comentario.persona.materno}} 
											<small *ngIf="id_persona_actual === comentario.id_persona" class="text-primary"><a type="button" (click)="openModalComentario(content6,'lg', comentario)" >(Editar)</a></small>&nbsp;
											<small *ngIf="id_persona_actual === comentario.id_persona" class="text-danger"><a type="button" (click)="openModal(content8,'sm', comentario.id_comentario)" >(Eliminar)</a></small> 
											<small class="float-right">{{comentario.createdAt | date: 'short'}}</small>
										</span>
										<span class="message">{{comentario.comentario}}</span>
										<span class="badge badge-outline status"></span>
									</div>
								</div>
							</a>
						</li>
						
					</ul>
					
				</div>
			</div>
		</div>
		
	</div>
</div>

<!-- MODAL Guardar COMENTARIO-->
<ng-template #content6 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Actualizar comentario</h4>
	</div>
	<div class="modal-body">
		<form class="container" #comentarioForm="ngForm" (ngSubmit)="guardarComentario()">
			<div class="form-group row">
				<label class="col-sm-3 col-12" for="tipo">Comentario: </label>
				<div class="col-sm-9 col-12">
					<textarea [(ngModel)]="comentarioA.comentario" rows="3" cols="30" class="form-control" name="contenido" #contenido="ngModel"
						[ngClass]="{'parsley-error':!contenido.valid && (contenido.touched || comentarioForm.submitted)}"
                        required>
                    </textarea>
					<ul class="parsley-errors-list filled"
						*ngIf="!contenido.valid && (contenido.touched || comentarioForm.submitted)">
						<li class="parsley-required" *ngIf="contenido.hasError('required')">Comentario de la publicación requerido.
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="estado" name="estado"
						[(ngModel)]="comentarioA.estado">
					<label class="form-check-label" for="estado">Estado</label>
				</div>
            </div>
			<div class="text-right">
                <button class="btn btn-success mr-1" [disabled]="!comentarioForm.form.valid" type="submit">Guardar</button>
                <button class="btn btn-danger" (click)="modal.dismiss('Close click')" type="button">Cancelar</button>
            </div>
		</form>
	</div>
</ng-template>

<ng-template #content8 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Estas seguro de borrar el comentario?</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="eliminarComentario(id_comentario); modal.close('Ok click')">Si</button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Close click')">No</button>
    </div>
</ng-template>
