<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    Dashboard
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i
                                class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active">Menu principal</li>
                </ul>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-default mr-lg-3 mr-md-2 mr-1"
        [routerLink]="['/admin/dashboard/list-fotografias']"><i class="fa fa-plus-square"></i>&nbsp;<span>Listar
            Fotografias</span></a>
    <a type="button" class="btn btn-default mr-lg-3 mr-md-2 mr-1"
        [routerLink]="['/admin/dashboard/list-usuarios', 'usuario']"><i class="fa fa-info-circle"></i>&nbsp;<span>Listar
            Usuarios</span></a>
    <a type="button" class="btn btn-default mr-lg-3 mr-md-2 mr-1"
        [routerLink]="['/admin/dashboard/list-proyectos', 'proyecto']"><i
            class="fa fa-info-circle"></i>&nbsp;<span>Listar Proyectos</span></a>
</div>

<div class="container-fluid">
    <br>
    <h2 style="text-align: center">Simple</h2>
    <div style="text-align: center">
        <form>
            <div>
                <input type="file" name="image" (change)="selectImage($event)" />
            </div>
            <br>
            <div>
                <button type="submit" (click)="onSubmit()">Upload</button>
            </div>
        </form>
    </div>

    <hr>
    <h2 style="text-align: center">Multiple</h2>
    <div style="text-align: center">
        <form>
            <div>
                <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
            </div>
            <br>
            <div>
                <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
            </div>
        </form>
    </div>
    <div>
        <mat-progress-bar style="margin-top: 30px" mode="determinate" [value]="progress"></mat-progress-bar>
    </div>

</div>