/* TOASTR BUGFIX */
@import '../../../../../node_modules/ngx-toastr/toastr.css';

.toast-top-right{
    top: 12px !important;
    right: 12px !important;
  }
  #toast-container > div {
    opacity:1 !important;
}

/* FILE UPLOAD */
#drop_zone {
  border: 3px #46b6d8 dotted;
  height: 100px;
}

.file-list{
display: grid;
grid-template-columns: 1fr 2fr 0.5fr;
}