<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2>
          Dashboard
        </h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Menu principal</li>
        </ul>
      </div>
    </div>

    <div class="row clearfix mt-3">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card appliances-grp" type="button" [routerLink]="['/admin/dashboard/list-fotografias']">
          <div class="body clearfix">
            <div class="icon"><img src="assets/images/foto.png" alt="imagen_fotografias"></div>
            <div class="content">
              <h6>Lista Fotografias</h6>
              <p>Fotografias de usuarios.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card appliances-grp" type="button" [routerLink]="['/admin/dashboard/list-usuarios', 'usuario']">
          <div class="body clearfix">
            <div class="icon"><img src="assets/images/grupo.png" alt="imagen_usuarios"></div>
            <div class="content">
              <h6>Lista Usuarios</h6>
              <p>Administrador, Director e Investigador (Titular, Asociado con proyecto, Asociado por invitacion).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card appliances-grp" type="button" [routerLink]="['/admin/dashboard/list-proyectos', 'proyecto']">
          <div class="body clearfix">
            <div class="icon"><img src="assets/images/proyecto.png" alt="imagen_fotografias"></div>
            <div class="content">
              <h6>Listar Proyectos</h6>
              <p>Proyectos de investigación (Activo, Inactivo, Pendiente, Cerrado).</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<br>

<!-- <div style="text-align: center">
        <form>      
          <div>
            <input type="file" name="image" (change)="selectImage($event)" />
          </div>
          <br>
          <div>
            <button type="submit" (click)="onSubmit()">Upload</button>
          </div>
        </form>
      </div>
      
      <hr>
      <h2 style="text-align: center">Multiple</h2>
      <div style="text-align: center">
        <form>      
          <div>
            <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
          </div>
          <br>
          <div>
            <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
          </div>
        </form>
      </div>
      <br><hr>
    <div>
        <mat-progress-bar style="margin-top: 30px" mode="determinate" [value]="progress"></mat-progress-bar>
    </div> -->