<div style="position: relative;">
    <div style="position: absolute; bottom: 0; right: 0; padding-right: 10px;">
        <div class="bottom">
            <a [routerLink]="['/authentication/login']">Iniciar sesión</a>
        </div>
    </div>
</div>
<div class="container-fluid blog-page">
    <!-- nabvar -->
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>Instituto de Ecologia</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home/dashboard']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Lista de publicaciones</li>
                </ul>
            </div>
            
        </div>
    </div>
    <!-- navbar -->

    <div class="row clearfix">
        <div class="col-lg-8 col-md-12 left-box" *ngIf="(publicaciones) as result">
            <div class="card single_post" *ngIf="result.length === 0 || publicaciones.length === 0">
                <div class="text-center">
                    <div class="body pb-0">
                        <h4 class="m-b-0">Lo sentimos, No se encontraron publicaciones.</h4>
                    </div>
                </div>
            </div>
            <div class="card single_post" *ngFor="let publicacion of result | paginate: { id: 'publicaciones', itemsPerPage: 4, currentPage: page }">
                <div class="body pb-0">
                    <h3 class="m-t-0 m-b-5"><a type="button">{{publicacion.titulo}}</a></h3>
                    <ul class="meta">
                        <li><a type="button"><i class="icon-user text-primary"></i><strong>Publicado por: </strong> {{publicacion.autores}}</a>
                        </li>
                        <li><a type="button"><i class="icon-tag text-success"></i>{{publicacion.tipo}}</a></li>
                        <li><a type="button"><i class="icon-bubbles text-warning"></i><strong>Comentarios: </strong>{{publicacion.nroComentarios}}</a></li>
                    </ul>
                    <ul class="meta">
                        <li>
                            <a type="button"><strong>Año de publicación: </strong> {{publicacion.fecha | date: 'yyyy'}}</a>
                        </li>
                        <li>
                            <a type="button"><strong>Autores: </strong> {{publicacion.autor}}</a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="img-post m-b-15" *ngFor="let archivo of publicacion.archivos">
                        <a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank" *ngIf="isPdf(archivo.archivo)" >
                            <img class="img-fluid" src="{{who +'fotografias/'+ 'logo-pdf.jpg' + '/true'}}" alt="image description">
                        </a>
                        <a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank" *ngIf="!isPdf(archivo.archivo)">
                            <img class="img-fluid" src="{{who +'publicaciones/'+archivo.archivo}}" width="500px" alt="image description">
                        </a>
                    </div>
                    <p>{{publicacion.contenido}}</p>
                    <!-- <a [routerLink]="['../profile-post/', publicacion.id_publicacion]" title="read more" class="btn btn-info m-t-20">Continuar leyendo</a> -->
                </div>
            </div>
            
            <pagination-controls id="publicaciones" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        <div class="col-lg-4 col-md-12 right-box">

            <div class="card">
                <div class="header">
                    <h2>Unidades</h2>
                </div>
                <div class="body widget">
                    <ul class="list-unstyled categories-clouds m-b-0">
                        <li class="mr-1"><button type="button" class="btn btn-outline-primary" (click)="obtenerPublicaciones()">Ecología Animal y Zoologia</button></li>
                        <li class="mr-1"><button type="button" class="btn btn-outline-primary" (click)="obtenerPublicaciones()">Ecología Vegetal y Botánica</button></li>
                        <li class="mr-1"><button type="button" class="btn btn-outline-primary" (click)="obtenerPublicaciones()">Ecología Terrestre</button></li>
                        <li class="mr-1"><button type="button" class="btn btn-outline-primary" (click)="obtenerPublicaciones()">Ecoligía Acuática</button></li>
                    </ul>
                </div>
            </div>
            <div class="card">
				<div class="header">
					<h2>Investigadores</h2>
				</div>
				<div class="body">
					<form>
						<div class="input-group m-b-20">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="icon-magnifier"></i></span>
                            </div>
                            <input [formControl]="search" type="text" class="form-control" placeholder="Buscar investigador ...">
                            <select class="form-control form-control-sm" (change)="changeInvestigadores($event)" id="selectInvestigadores">
                                <option value="" disabled>Seleccionar tipo Investigador</option>
                                <option value="investigador">Todos</option>
                                <option value="inv-titular">Titulares</option>
                                <option value="inv-asociado-proyecto">Asociados con proyecto</option>
                                <option value="inv-asociado-invitacion">Asociados con invitación</option>
                            </select>
                        </div>
					</form>
					<ul class="right_chat list-unstyled" *ngIf="(investigadores | searchInvestigadores: valorBusqueda) as result">
						<li [ngClass]="{'online': investigador.estado, 'offline': investigador.estado}" *ngFor="let investigador of result | paginate: { id: 'investigadores', itemsPerPage: 10, currentPage: pageInv }">
							<a type="button" (click)="obtenerPublicacionesInvestigador(investigador.id_persona)">
								<div class="media">
									<img class="media-object " src="{{who +'fotografias/'+ investigador.persona.fotografia.imagen + '/true'}}" alt="usuario">
									<div class="media-body">
										<span class="name">{{investigador.nombreCompleto}}</span>
                                        <span class="message" *ngIf="investigador.id_inv_tipo===1">Titular</span>
										<span class="message" *ngIf="investigador.id_inv_tipo===2">Asociado con proyecto</span>
										<span class="message" *ngIf="investigador.id_inv_tipo===3">Asociado con invitación</span>
										<span class="badge badge-outline status"></span>
									</div>
								</div>
							</a>
						</li>
						
                    </ul>
                    <pagination-controls id="investigadores" (pageChange)="pageInv = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
				</div>
            </div>
            <!-- mas cards -->
        </div>
    </div>

</div>