/* tabla */
@import "../../../../assets/css/ecommerce.css";
.my-drop-zone {
    border: dotted 3px lightgray;
    height: 100px;
    text-align: center;
    justify-content: center;
  }
  .my-drop-zone > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .avatar-coordinador {
    width: 60px;
    height: 60px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  /* DATAPICKER */
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  