<div class="container-fluid file_manager">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    Proyecto
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item"><a [routerLink]="['../../list-proyectos','proyecto']">Proyectos</a></li>
                    <li class="breadcrumb-item active">{{ id }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-8 col-md-8">
            <div class="card">
                <div class="header">
                    <h1>{{proyecto.titulo}}</h1>
                </div>
                <div class="body">
                    <strong>Creacion del proyecto: </strong> <small>{{proyecto.createdAt | date: 'medium'}}</small>
                    <hr>
                    <h4>Fechas</h4>
                    <p><strong>Fecha inicio del proyecto: </strong>{{proyecto.fechaini | date}}</p>
                    <p><strong>fecha conclusion del proyecto: </strong>{{proyecto.fechafin | date}}</p>
                    <hr>
                    <h4>Grupo</h4>
                    <h6>Investigador coordinador</h6>
                    <ul>
                        <li><a href="javascript:void(0)">{{proyecto.investigadore.persona.nombres}}
                                {{proyecto.investigadore.persona.paterno}}
                                {{proyecto.investigadore.persona.materno}}</a></li>
                    </ul>
                    <h6>Investigadores</h6>
                    <ul>
                        <li *ngFor="let inv of proyecto.investigadores"><a
                                href="javascript:void(0)">{{inv.investigadore.persona.nombres}}
                                {{inv.investigadore.persona.paterno}} {{inv.investigadore.persona.materno}}</a></li>
                    </ul>

                    <p>
                        <ngb-progressbar [showValue]="true" type="warning" [value]="proyecto.proceso" [max]="100">
                        </ngb-progressbar>
                    </p>
                    <div class="row">
                        <div class="col-7">
                            <small>Numero de archivos: 23</small>
                            <p><strong>estado: </strong>{{proyecto.estado}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <button type="button" class="btn btn-default mr-1 mb-3 card align-items-center" href="javascript:void(0)"
                (click)="openModal(content,'lg', 1)"><i class="fa fa-plus-square"></i>&nbsp;<span class="h6"> Subir
                    Archivo</span></button>
            <button type="button" class="btn btn-default mr-1 mb-3 card align-items-center" href="javascript:void(0)"
                (click)="openModal(content,'lg', 2)"><i class="fa fa-flag"></i>&nbsp;<span class="h6">
                    Permisos</span></button>
            <button type="button" class="btn btn-default mr-1 mb-3 card align-items-center" href="javascript:void(0)"
                (click)="openModal(content,'lg', 3)"><i class="fa fa-folder-open-o"></i>&nbsp;<span class="h6">
                    Suscripcion Convenios</span></button>
            <button type="button" class="btn btn-default mr-1 mb-3 card align-items-center" href="javascript:void(0)"
                (click)="openModal(content,'lg', 4)"><i class="fa fa-tags"></i>&nbsp;<span class="h6">
                    Personal contratado</span></button>
            <button type="button" class="btn btn-default mr-1 mb-3 card align-items-center" href="javascript:void(0)"
                (click)="openModal(content,'lg', 5)"><i class="fa fa-pencil"></i>&nbsp;<span class="h6"> Subir Proyecto final</span></button>
        </div>
    </div>

    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-center">Lista de archivos</h3>
            <h5 class="text-center text-lg-left">{{tituloArch}}</h5>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <form id="navbar-search" class="navbar-form search-form">
                <input [formControl]="search" class="form-control" placeholder="Buscar documento ..." type="text" />
                <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
            </form>
        </div>
        <div ngbDropdown class="d-inline-block col-lg-5 col-md-8 col-sm-12" placement="bottom-left">
            <button class="btn btn-default mr-1 mb-3" id="dropdownBasic1" ngbDropdownToggle>Listado</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" right>
                <button class="btn btn-default" (click)="getArchivosByTipo(0)" ngbDropdownItem>Documentos Principales</button>
                <button class="btn btn-default" (click)="getArchivosByTipo(1)" ngbDropdownItem>Permisos</button>
                <button class="btn btn-default" (click)="getArchivosByTipo(2)" ngbDropdownItem>Suscripción Convenios</button>
                <button class="btn btn-default" (click)="getArchivosByTipo(3)" ngbDropdownItem>Personal Contratado</button>
                <button class="btn btn-default" (click)="getArchivosByTipo(6)" ngbDropdownItem>Proyecto final</button>
                <button class="btn btn-default" (click)="getArchivosByTipo(7)" ngbDropdownItem>Otros</button>
            </div>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let archivo of archivos | searchArchivos: valorBusqueda">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-outline-secondary" (click)="openArchivo(archivo.archivo)">
                                <i class="icon-eye"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-outline-info" (click)="openModalArchivo(content1,'lg', archivo)">
                                <i class="icon-pencil"></i>
                            </button>
                            <button *ngIf="archivo.id_tipo==8 || archivo.id_tipo==9" type="button" class="btn btn-icon btn-outline-primary" (click)="openModalArchivoVarios(content,'lg', archivo)">
                                <i class="icon-settings"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-success"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">{{ archivo.nombre }}</p>
                            <small>PDF<span class="date text-muted">{{archivo.createdAt | date: 'medium'}}</span></small>
                        </div>
                    </a>
                </div>
                <ul class="list-unstyled feeds_widget">
                    <li *ngFor="let archivoB of archivo.convArchivos">
                        <div class="feeds-left">
                            <a href="javascript:void(0)" (click)="openArchivo(archivoB.archivo)">
                                <i class="fa fa-file text-info"></i>
                            </a>
                        </div>
                        <div class="feeds-body">
                            <h4 class="title"><a href="javascript:void(0)" (click)="openModalArchivo(content1,'lg', archivoB)">{{archivoB.nombre}}</a><small class="float-right text-muted">{{archivoB.createdAt | date: 'mediumDate'}}</small></h4>
                            <small>{{archivoB.descripcion}}</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- MODAL -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ titulo }}</h4>
    </div>
    <div class="modal-body">
        <form class="container" #formDetail="ngForm" (ngSubmit)="guardar()">
            <!-- OTROS -->
            <section *ngIf="tipoModal===1">
                
            </section>
            <!-- PERMISO -->
            <section *ngIf="tipoModal===2">
                <div class="form-group row">
                    <label class="col-12 col-md-3">Tipo de NOTA: </label>
                    <div class="col-12 col-md-9">
                        <select [(ngModel)]="permiso.id_tipo" class="form-control" name="tipo"
                            #tipo="ngModel" [ngClass]="{'parsley-error':!tipo.valid && (tipo.touched || formDetail.submitted)}"
                            required>
                            <option value=""> --Seleccionar tipo de Nota-- </option>
                            <option value="2">DGB</option>
                            <option value="3">SERNAP</option>
                            <option value="4">CITES</option>
                            <option value="5">BIOETICA</option>
                            <option value="6">CIERRE DE PROYECTO</option>
                            <option value="7">OTROS</option>
                        </select>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!tipo.valid && (tipo.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="tipo.hasError('required')">Tipo de personal de RRHH requerida.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row" *ngIf="permiso.tipo != '10'">
                    <label class="col-12 col-md-3">Tipo de permiso: </label>
                    <div class="col-12 col-md-9">
                        <label class="fancy-radio">
                            <input class="form-control" type="radio" name="permiso" value="solicitud" required
                                data-parsley-errors-container="#error-radio" [(ngModel)]="permiso.tipo">
                            <span><i></i>Solicitud</span>
                        </label>
                        <label class="fancy-radio">
                            <input class="form-control" type="radio" name="permiso" value="otorgacion" [(ngModel)]="permiso.tipo">
                            <span><i></i>Otorgación</span>
                        </label>
                    </div>
                </div>
                <div>
                    <h5 style="color:brown;">Solamente suba un archivo</h5>
                </div>

            </section>
            <!-- CONVENIOS -->
            <section *ngIf="tipoModal===3">
                <div class="form-group row">
                    <label class="col-12 col-md-3">Tipo de Convenio: </label>
                    <div class="col-12 col-md-9">
                        <select [(ngModel)]="convenio.tipo" class="form-control" name="tipo"
                            #tipo="ngModel" [ngClass]="{'parsley-error':!tipo.valid && (tipo.touched || formDetail.submitted)}"
                            required>
                            <option value=""> --Seleccionar el tipo de publicación-- </option>
                            <option value="convenio marco">Convenio Marco</option>
                            <option value="convenio especifico">Convenio Especifico</option>
                            <option value="convenio bilateral">Convenio Bilateral</option>
                            <option value="convenio plurilateral">Convenio Plurilateral</option>
                        </select>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!tipo.valid && (tipo.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="tipo.hasError('required')">Tipo de convenio requerida.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3">Titulo: </label>
                    <div class="col-12 col-md-9">
                        <input [(ngModel)]="convenio.titulo" class="form-control" name="titulo" #titulo="ngModel" placeholder="Convenio con tal institucion"
                            [ngClass]="{'parsley-error':!titulo.valid && (titulo.touched || formDetail.submitted)}"
                            required />
                        <ul class="parsley-errors-list filled"
                            *ngIf="!titulo.valid && (titulo.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="titulo.hasError('required')">
                                Titulo de la convenio requerida.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3">Objetivo: </label>
                    <div class="col-12 col-md-9">
                        <input [(ngModel)]="convenio.objetivo" class="form-control" name="objetivo" #objetivo="ngModel" placeholder="Objetivo.."
                            [ngClass]="{'parsley-error':!objetivo.valid && (objetivo.touched || formDetail.submitted)}"
                            required />
                        <ul class="parsley-errors-list filled"
                            *ngIf="!objetivo.valid && (objetivo.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="objetivo.hasError('required')">
                                Objetivo del convenio requerida.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3" for="fecha_inicio">Fecha Inicio: </label>
                    <div class="col-12 col-md-9">
                        <div class="input-group">
                            <input [(ngModel)]="fechainicio" class="form-control" placeholder="yyyy-mm-dd" name="fechaini"
                                #fechaini="ngModel" ngbDatepicker #dp1="ngbDatepicker"
                                [ngClass]="{'parsley-error':!fechaini.valid && (fechaini.touched || formDetail.submitted)}"
                                required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
                                    (click)="dp1.toggle()" type="button"><i class="icon-calendar"></i></button>
                            </div>
                        </div>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!fechaini.valid && (fechaini.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="fechaini.hasError('required')">Fecha de inicio de convenio
                                requerido.
                            </li>
                        </ul>
                    </div>
    
                </div>
    
                <div class="form-group row">
                    <label class="col-12 col-md-3" for="fecha_fin">Fecha Fin: </label>
                    <div class="col-12 col-md-9">
                        <div class="input-group">
                            <input [(ngModel)]="fechafinal" class="form-control" placeholder="yyyy-mm-dd" name="fechafin"
                                #fechafin="ngModel" ngbDatepicker #dp2="ngbDatepicker"
                                [ngClass]="{'parsley-error':!fechafin.valid && (fechafin.touched || formDetail.submitted)}"
                                required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
                                    (click)="dp2.toggle()" type="button"><i class="icon-calendar"></i></button>
                            </div>
                        </div>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!fechafin.valid && (fechafin.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="fechafin.hasError('required')">Fecha de Fin de convenio.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12 col-md-3">Descripción: </label>
                    <div class="col-12 col-md-9">
                        <textarea class="form-control" rows="3" cols="30" [(ngModel)]="convenio.descripcion" name="descripcion" placeholder="descripcion del convenio" #descripcion="ngModel" required [ngClass]="{'parsley-error':!descripcion.valid && (descripcion.touched || formDetail.submitted)}"></textarea>
                        <ul class="parsley-errors-list filled" *ngIf="!descripcion.valid && (descripcion.touched || formDetail.submitted)">
                                <li class="parsley-required" *ngIf="descripcion.hasError('required')">La descripcion es requerida</li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="tipoModalShow" class="form-group row">
                    <label class="col-12 col-md-3" for="archivo_pdf">Convenio: </label>
                    <div class="col-12 col-md-9">
                        <input #file type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="application/pdf" multiple="1">
                        <div class="text-left"> {{archivo_selected}}
                            <button class="btn btn-warning my-1" type="button" (click)="file.click()"><i
                                    class="icon-paper-clip text-light"></i></button>
                        </div>
                    </div>
                </div>

            </section>
            <!-- PERSONAL CONTRATADO -->
            <section *ngIf="tipoModal===4">
                <div class="form-group row">
                    <label class="col-12 col-md-3">Tipo de personal: </label>
                    <div class="col-12 col-md-9">
                        <select [(ngModel)]="personal_rrhh.tipo" class="form-control" name="tipo"
                            #tipo="ngModel" [ngClass]="{'parsley-error':!tipo.valid && (tipo.touched || formDetail.submitted)}"
                            required>
                            <option value=""> --Seleccionar el tipo de publicación-- </option>
                            <option value="01">Investigador Asociado</option>
                            <option value="02">Investigador Contratado</option>
                            <option value="03">Consultor</option>
                            <option value="04">Personal de apoyo</option>
                            <option value="04">Becario</option>
                        </select>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!tipo.valid && (tipo.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="tipo.hasError('required')">Tipo de personal de RRHH requerida.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3">Nombre Completo: </label>
                    <div class="col-12 col-md-9">
                        <input [(ngModel)]="personal_rrhh.nombrecompleto" class="form-control" name="nombre" #nombre="ngModel" placeholder="Nombres Apellido_Paterno Apellido_Materno"
                            [ngClass]="{'parsley-error':!nombre.valid && (nombre.touched || formDetail.submitted)}"
                            required />
                        <ul class="parsley-errors-list filled"
                            *ngIf="!nombre.valid && (nombre.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="nombre.hasError('required')">
                                nombre de la personal RRHH requerida.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3">Cedula de identidad: </label>
                    <div class="col-12 col-md-9">
                        <input [(ngModel)]="personal_rrhh.ci" class="form-control" name="ci" #ci="ngModel" placeholder="0000000"
                            [ngClass]="{'parsley-error':!ci.valid && (ci.touched || formDetail.submitted)}"
                            required />
                        <ul class="parsley-errors-list filled"
                            *ngIf="!ci.valid && (ci.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="ci.hasError('required')">
                                Cedula de identidad de la personal RRHH requerida.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3" for="fecha_inicio">Fecha Inicio: </label>
                    <div class="col-12 col-md-9">
                        <div class="input-group">
                            <input [(ngModel)]="fechainicio" class="form-control" placeholder="yyyy-mm-dd" name="fechaini"
                                #fechaini="ngModel" ngbDatepicker #dp1="ngbDatepicker"
                                [ngClass]="{'parsley-error':!fechaini.valid && (fechaini.touched || formDetail.submitted)}"
                                required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
                                    (click)="dp1.toggle()" type="button"><i class="icon-calendar"></i></button>
                            </div>
                        </div>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!fechaini.valid && (fechaini.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="fechaini.hasError('required')">Fecha de Incio de proyecto
                                requerido.
                            </li>
                        </ul>
                    </div>
    
                </div>
    
                <div class="form-group row">
                    <label class="col-12 col-md-3" for="fecha_fin">Fecha Fin: </label>
                    <div class="col-12 col-md-9">
                        <div class="input-group">
                            <input [(ngModel)]="fechafinal" class="form-control" placeholder="yyyy-mm-dd" name="fechafin"
                                #fechafin="ngModel" ngbDatepicker #dp2="ngbDatepicker"
                                [ngClass]="{'parsley-error':!fechafin.valid && (fechafin.touched || formDetail.submitted)}"
                                required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
                                    (click)="dp2.toggle()" type="button"><i class="icon-calendar"></i></button>
                            </div>
                        </div>
                        <ul class="parsley-errors-list filled"
                            *ngIf="!fechafin.valid && (fechafin.touched || formDetail.submitted)">
                            <li class="parsley-required" *ngIf="fechafin.hasError('required')">Fecha de Fin de proyecto
                                (tentantivo).
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3">Descripción: </label>
                    <div class="col-12 col-md-9">
                        <textarea class="form-control" rows="3" cols="30" [(ngModel)]="personal_rrhh.descripcion" name="descripcion" #descripcion="ngModel" placeholder="descripcion del trabajo a realizar" required [ngClass]="{'parsley-error':!descripcion.valid && (descripcion.touched || formDetail.submitted)}"></textarea>
                        <ul class="parsley-errors-list filled" *ngIf="!descripcion.valid && (descripcion.touched || formDetail.submitted)">
                                <li class="parsley-required" *ngIf="descripcion.hasError('required')">La descripcion es requerida</li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="tipoModalShow" class="form-group row">
                    <label class="col-12 col-md-3" for="archivo_pdf">Contrato: </label>
                    <div class="col-12 col-md-9">
                        <input #file type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="application/pdf" multiple="1">
                        <div class="text-left"> {{archivo_selected}}
                            <button class="btn btn-warning my-1" type="button" (click)="file.click()"><i
                                    class="icon-paper-clip text-light"></i></button>
                        </div>
                    </div>
                </div>
        
            </section>
            <!-- SUBIR PROYECTO FINAL -->
            <section *ngIf="tipoModal===5">

            </section>
            <section *ngIf="tipoModalShow">
                <ngfFormData [files]="files" postName="file" [(FormData)]="sendableFormData"></ngfFormData>
                <ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>
                <div>
                    <div>
                        <div class="my-drop-zone" ngfDrop multiple="1" selectable="1" [(validDrag)]="validComboDrag"
                            [(files)]="files" accept="application/pdf" [maxSize]="maxSize" [(lastInvalids)]="lastInvalids"
                            [(dragFiles)]="dragFiles" [class.invalid-drag]="validComboDrag===false"
                            [class.valid-drag]="validComboDrag"
                            (filesChange)="fileChange()"
                            [fileDropDisabled]="fileDropDisabled">
                            <span class="pt-3">
                                Zona para subir archivos<br> <strong>Arrastre/Click</strong><br>
                            </span>
                        </div>
                    </div>
                </div>
                <h6 class="py-2">{{ files.length }} Archivos en la cola</h6>
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th data-breakpoints="md lg">Descripción</th>
                                <th data-breakpoints="sm xs md">Tamaño</th>
                                <th data-breakpoints="sm xs">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of files;let i=index">
                                <td nowrap>
                                    <div *ngIf="['application/pdf'].indexOf(item.type)>=0">
                                        <div class="previewIcon" [ngfBackground]="item"></div>
                                    </div>
                                    <div class="form-group">
                                        <strong class="ml-2" style="font-size: 12px;">{{ item.name.length>35?(item.name | slice:0:35)+'...':(item.name) }}</strong>
                                        <input [(ngModel)]="datosArchivo[i].nombre" class="form-control" name="name{{i}}" #name="ngModel" placeholder="nombre del documento.."
                                            [ngClass]="{'parsley-error':!name.valid && (name.touched || formDetail.submitted)}"
                                            required>
                                        <ul class="parsley-errors-list filled"
                                            *ngIf="!name.valid && (name.touched || formDetail.submitted)">
                                            <li class="parsley-required" *ngIf="name.hasError('required')">
                                                Nombre {{i}} del archivo requerido.
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td nowrap>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2" cols="25" [(ngModel)]="datosArchivo[i].descripcion"
                                            name="descripcion{{i}}" #descripcion="ngModel" required
                                            [ngClass]="{'parsley-error':!descripcion.valid && (descripcion.touched || formDetail.submitted)}" placeholder="descripcion del documento.."></textarea>
                                        <ul class="parsley-errors-list filled"
                                            *ngIf="!descripcion.valid && (descripcion.touched || formDetail.submitted)">
                                            <li class="parsley-required" *ngIf="descripcion.hasError('required')">
                                                Descripcion {{i}} requerida.</li>
                                        </ul>
                                    </div>
                                </td>
                                <td nowrap>
                                    {{ item.size/1024/1024 | number:'.2' }} MB
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs"
                                        (click)="datosArchivo.splice(i,1) && files.splice(i,1) && antFileTam=antFileTam-1">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div> Proceso de la cola:
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
                        </div>
                    </div>
                    <ng-container *ngIf="lastFileAt">
                        <p><strong>Ultimo documento(s) seleccionado:</strong> {{ lastFileAt | date : 'longTime' }}</p>
                    </ng-container>
                    <ng-container *ngIf="progress==100">
                        <i class="glyphicon glyphicon-ok"></i>
                        &nbsp;Carga completa
                    </ng-container>
                </div>
            </section>

            <button type="submit" class="btn btn-success btn-s" [disabled]="!formDetail.form.valid">
                <span class="glyphicon glyphicon-upload"></span> Guardar todo
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="cancel()"
                (click)="modal.dismiss('Close click')">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todo
            </button>
            <button *ngIf="tipoModalShow" type="button" class="btn btn-danger btn-s" (click)="removerTodo()"
                [disabled]="!files.length">
                <span class="glyphicon glyphicon-trash"></span> Remover todo
            </button>
        </form>
    </div>
</ng-template>

<!-- MODAL ARCHIVO-->
<ng-template #content1 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Actualizar archivo</h4>
	</div>
	<div class="modal-body">
		<form class="container" #archivoForm="ngForm" (ngSubmit)="editarArchivo()">
			<div class="form-group row">
				<label class="col-sm-3 col-12" for="tipo">Nombre: </label>
				<div class="col-sm-9 col-12">
					<input [(ngModel)]="archivo.nombre" class="form-control" name="nombre" #nombre="ngModel"
						[ngClass]="{'parsley-error':!nombre.valid && (nombre.touched || archivoForm.submitted)}"
						required>
					<ul class="parsley-errors-list filled"
						*ngIf="!nombre.valid && (nombre.touched || archivoForm.submitted)">
						<li class="parsley-required" *ngIf="nombre.hasError('required')">Nombre del archivo requerido.
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-12" for="tipo">Descripción: </label>
				<div class="col-sm-9 col-12">
					<textarea [(ngModel)]="archivo.descripcion" rows="3" cols="30" class="form-control" name="descripcion" #descripcion="ngModel"
						[ngClass]="{'parsley-error':!descripcion.valid && (descripcion.touched || archivoForm.submitted)}"
						required></textarea>
					<ul class="parsley-errors-list filled"
						*ngIf="!descripcion.valid && (descripcion.touched || archivoForm.submitted)">
						<li class="parsley-required" *ngIf="descripcion.hasError('required')">Descripcion del archivo requerido.
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="estado" name="estado"
						[(ngModel)]="archivo.estado">
					<label class="form-check-label" for="estado">Estado</label>
				</div>
			</div>
			<button class="btn btn-success" [disabled]="!archivoForm.form.valid" type="submit">Guardar
				Cambios</button>
			<button class="btn btn-danger" (click)="modal.dismiss('Close click')" type="button">Cancelar</button>
		</form>
	</div>
</ng-template> 