<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12"> 
				<h2>
					Mi perfil
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Configuración</li>
					<li class="breadcrumb-item active">Mi perfil</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="body">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" data-toggle="tab" [routerLink] = "['../account']" fragment="settings" [ngClass]="{'active':fragment == 'settings'}">Configuraciones</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" [routerLink] = "['../account']" fragment="training" [ngClass]="{'active':fragment == 'training'}">Formación</a></li>
					</ul>
				</div>
				<div class="tab-content">

					<div class="tab-pane" [ngClass]="{'active':fragment == 'settings'}">

						<form class="body" #formFotografia="ngForm" (ngSubmit)="editarFotografia()">
							<h6>Foto de perfil</h6>
							<div class="media">
								<div class="media-left m-r-15">
									<img width="100px" src="{{who+'fotografias/' + imagen + '/true'}}" class="rounded-circle user-photo media-object" alt="User">
								</div>
								<div class="media-body">
									<p>Sube tu foto.
									<br> <em>La imagen debe tener al menos 140 px x 140 px</em></p>
								</div>
							</div>
							<input #file type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="image/*">
							<div class="text-left"> 
								<button class="btn btn-warning mr-1" type="button" (click)="file.click()"><i class="icon-paper-clip text-light"></i></button>
								{{image_selected}}
							</div>
							<button class="btn btn-primary mt-1" type="submit">Subir Fotografia</button>
							<div class="progress mt-1" *ngIf="filesToUpload">
								<div
								  class="progress-bar progress-bar-info progress-bar-striped"
								  role="progressbar"
								  attr.aria-valuenow="{{ progress }}"
								  aria-valuemin="0"
								  aria-valuemax="100"
								  [ngStyle]="{ width: progress + '%' }">
								  {{ progress }}%
								</div>
							</div>
						</form>

						<form class="body" #formInfBasica="ngForm" (ngSubmit)="editarInfBasica()">
							<h6>Información basica</h6>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.nombres" class="form-control" name="nombres" #nombres="ngModel" placeholder="Nombres" disabled>
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.paterno" class="form-control" name="paterno" #paterno="ngModel" placeholder="Apellido Paterno" disabled>
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.materno" class="form-control" name="materno" #materno="ngModel" placeholder="Apellido Materno" disabled>
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.ci" class="form-control" name="ci" #ci="ngModel" placeholder="Cedula de identidad" disabled>
									</div>
									<div class="form-group">
										<div>
											<label class="fancy-radio">
												<input [(ngModel)]="basica.sexo" class="form-control" name="sexo" #sexo="ngModel" value="Masculino" type="radio">
												<span><i></i>Masculino</span>
											</label>
											<label class="fancy-radio">
												<input [(ngModel)]="basica.sexo" class="form-control" name="sexo" #sexo="ngModel" value="Femenino" type="radio">
												<span><i></i>Femenino</span>
											</label>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<button class="btn btn-outline-secondary input-group-text" href="javascript:void(0);"
														(click)="dp.toggle()" type="button"><i class="icon-calendar"></i></button>
											</div>
											<input data-provide="datepicker" [(ngModel)]="basica.fec_nacimiento" class="form-control" placeholder="Cumpleaños.." name="fec_nacimiento" #fec_nacimiento="ngModel" ngbDatepicker #dp="ngbDatepicker">
										</div>										
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.url" class="form-control" name="urlPagina" #urlPagina="ngModel" placeholder="http://">
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.direccion1" class="form-control" name="direccion1" #direccion1="ngModel" placeholder="Dirección 1">
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.direccion2" class="form-control" name="direccion2" #direccion2="ngModel" placeholder="Dirección 2">
									</div>
									<div class="form-group">
										<select [(ngModel)]="basica.ciudad" class="form-control" name="ciudad" #ciudad="ngModel">
											<option value="null">-- Seleccionar ciudad --</option>
											<option value="Beni">Beni</option>
											<option value="Chuquisaca">Chuquisaca</option>
											<option value="Cochabamba">Cochabamba</option>
											<option value="La Paz">La Paz</option>
											<option value="Oruro">Oruro</option>
											<option value="Pando">Pando</option>
											<option value="Potosí">Potosí</option>
											<option value="Santa Cruz">Santa Cruz</option>
											<option value="Tarija">Tarija</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="basica.provincia" class="form-control" name="provincia" #provincia="ngModel" placeholder="Provincia">
									</div>
									<div class="form-group">
										<select [(ngModel)]="basica.pais" class="form-control" name="pais" #pais="ngModel">
											<option value="null">-- Seleccionar pais --</option>
											<option value="Afghanistan">Afghanistan</option>
											<option value="Åland Islands">Åland Islands</option>
											<option value="Albania">Albania</option>
											<option value="Algeria">Algeria</option>
											<option value="American Samoa">American Samoa</option>
											<option value="Andorra">Andorra</option>
											<option value="Angola">Angola</option>
											<option value="Anguilla">Anguilla</option>
											<option value="Antarctica">Antarctica</option>
											<option value="Antigua and Barbuda">Antigua and Barbuda</option>
											<option value="Argentina">Argentina</option>
											<option value="Armenia">Armenia</option>
											<option value="Aruba">Aruba</option>
											<option value="Australia">Australia</option>
											<option value="Austria">Austria</option>
											<option value="Azerbaijan">Azerbaijan</option>
											<option value="Bahamas">Bahamas</option>
											<option value="Bahrain">Bahrain</option>
											<option value="Bangladesh">Bangladesh</option>
											<option value="Barbados">Barbados</option>
											<option value="Belarus">Belarus</option>
											<option value="Belgium">Belgium</option>
											<option value="Belize">Belize</option>
											<option value="Benin">Benin</option>
											<option value="Bermuda">Bermuda</option>
											<option value="Bhutan">Bhutan</option>
											<option value="Bolivia">Bolivia</option>
											<option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
											<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
											<option value="Botswana">Botswana</option>
											<option value="Bouvet Island">Bouvet Island</option>
											<option value="Brazil">Brazil</option>
											<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
											<option value="Brunei Darussalam">Brunei Darussalam</option>
											<option value="Bulgaria">Bulgaria</option>
											<option value="Burkina Faso">Burkina Faso</option>
											<option value="Burundi">Burundi</option>
											<option value="Cambodia">Cambodia</option>
											<option value="Cameroon">Cameroon</option>
											<option value="Canada">Canada</option>
											<option value="Cape Verde">Cape Verde</option>
											<option value="Cayman Islands">Cayman Islands</option>
											<option value="Central African Republic">Central African Republic</option>
											<option value="Chad">Chad</option>
											<option value="Chile">Chile</option>
											<option value="China">China</option>
											<option value="Christmas Island">Christmas Island</option>
											<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
											<option value="Colombia">Colombia</option>
											<option value="Comoros">Comoros</option>
											<option value="Congo">Congo</option>
											<option value="Congo">Congo</option>
											<option value="Cook Islands">Cook Islands</option>
											<option value="Costa Rica">Costa Rica</option>
											<option value="Côte d'Ivoire">Côte d'Ivoire</option>
											<option value="Croatia">Croatia</option>
											<option value="Cuba">Cuba</option>
											<option value="Curaçao">Curaçao</option>
											<option value="Cyprus">Cyprus</option>
											<option value="Czech Republic">Czech Republic</option>
											<option value="Denmark">Denmark</option>
											<option value="Djibouti">Djibouti</option>
											<option value="Dominica">Dominica</option>
											<option value="Dominican Republic">Dominican Republic</option>
											<option value="Ecuador">Ecuador</option>
											<option value="Egypt">Egypt</option>
											<option value="El Salvador">El Salvador</option>
											<option value="Equatorial Guinea">Equatorial Guinea</option>
											<option value="Eritrea">Eritrea</option>
											<option value="Estonia">Estonia</option>
											<option value="Ethiopia">Ethiopia</option>
											<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
											<option value="Faroe Islands">Faroe Islands</option>
											<option value="Fiji">Fiji</option>
											<option value="Finland">Finland</option>
											<option value="France">France</option>
											<option value="French Guiana">French Guiana</option>
											<option value="French Polynesia">French Polynesia</option>
											<option value="French Southern Territories">French Southern Territories</option>
											<option value="Gabon">Gabon</option>
											<option value="Gambia">Gambia</option>
											<option value="Georgia">Georgia</option>
											<option value="Germany">Germany</option>
											<option value="Ghana">Ghana</option>
											<option value="Gibraltar">Gibraltar</option>
											<option value="Greece">Greece</option>
											<option value="Greenland">Greenland</option>
											<option value="Grenada">Grenada</option>
											<option value="Guadeloupe">Guadeloupe</option>
											<option value="Guam">Guam</option>
											<option value="Guatemala">Guatemala</option>
											<option value="Guernsey">Guernsey</option>
											<option value="Guinea">Guinea</option>
											<option value="Guinea-Bissau">Guinea-Bissau</option>
											<option value="Guyana">Guyana</option>
											<option value="Haiti">Haiti</option>
											<option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
											<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
											<option value="Honduras">Honduras</option>
											<option value="Hong Kong">Hong Kong</option>
											<option value="Hungary">Hungary</option>
											<option value="Iceland">Iceland</option>
											<option value="India">India</option>
											<option value="Indonesia">Indonesia</option>
											<option value="Iran">Iran</option>
											<option value="Iraq">Iraq</option>
											<option value="Ireland">Ireland</option>
											<option value="Isle of Man">Isle of Man</option>
											<option value="Israel">Israel</option>
											<option value="Italy">Italy</option>
											<option value="Jamaica">Jamaica</option>
											<option value="Japan">Japan</option>
											<option value="Jersey">Jersey</option>
											<option value="Jordan">Jordan</option>
											<option value="Kazakhstan">Kazakhstan</option>
											<option value="Kenya">Kenya</option>
											<option value="Kiribati">Kiribati</option>
											<option value="Democratic People's Republic of Korea">Democratic People's Republic of Korea</option>
											<option value="Republic of Korea">Republic of Korea</option>
											<option value="Kuwait">Kuwait</option>
											<option value="Kyrgyzstan">Kyrgyzstan</option>
											<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
											<option value="Latvia">Latvia</option>
											<option value="Lebanon">Lebanon</option>
											<option value="Lesotho">Lesotho</option>
											<option value="Liberia">Liberia</option>
											<option value="Libya">Libya</option>
											<option value="Liechtenstein">Liechtenstein</option>
											<option value="Lithuania">Lithuania</option>
											<option value="Luxembourg">Luxembourg</option>
											<option value="Macao">Macao</option>
											<option value="the former Yugoslav Republic of Macedonia">the former Yugoslav Republic of Macedonia</option>
											<option value="Madagascar">Madagascar</option>
											<option value="Malawi">Malawi</option>
											<option value="Malaysia">Malaysia</option>
											<option value="Maldives">Maldives</option>
											<option value="Mali">Mali</option>
											<option value="Malta">Malta</option>
											<option value="Marshall Islands">Marshall Islands</option>
											<option value="Martinique">Martinique</option>
											<option value="Mauritania">Mauritania</option>
											<option value="Mauritius">Mauritius</option>
											<option value="Mayotte">Mayotte</option>
											<option value="Mexico">Mexico</option>
											<option value="Federated States of Micronesia">Federated States of Micronesia</option>
											<option value="Republic of Moldova">Republic of Moldova</option>
											<option value="Monaco">Monaco</option>
											<option value="Mongolia">Mongolia</option>
											<option value="Montenegro">Montenegro</option>
											<option value="Montserrat">Montserrat</option>
											<option value="Morocco">Morocco</option>
											<option value="Mozambique">Mozambique</option>
											<option value="Myanmar">Myanmar</option>
											<option value="Namibia">Namibia</option>
											<option value="Nauru">Nauru</option>
											<option value="Nepal">Nepal</option>
											<option value="Netherlands">Netherlands</option>
											<option value="New Caledonia">New Caledonia</option>
											<option value="New Zealand">New Zealand</option>
											<option value="Nicaragua">Nicaragua</option>
											<option value="Niger">Niger</option>
											<option value="Nigeria">Nigeria</option>
											<option value="Niue">Niue</option>
											<option value="Norfolk Island">Norfolk Island</option>
											<option value="Northern Mariana Islands">Northern Mariana Islands</option>
											<option value="Norway">Norway</option>
											<option value="Oman">Oman</option>
											<option value="Pakistan">Pakistan</option>
											<option value="Palau">Palau</option>
											<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
											<option value="Panama">Panama</option>
											<option value="Papua New Guinea">Papua New Guinea</option>
											<option value="Paraguay">Paraguay</option>
											<option value="Peru">Peru</option>
											<option value="Philippines">Philippines</option>
											<option value="Pitcairn">Pitcairn</option>
											<option value="Poland">Poland</option>
											<option value="Portugal">Portugal</option>
											<option value="Puerto Rico">Puerto Rico</option>
											<option value="Qatar">Qatar</option>
											<option value="Réunion">Réunion</option>
											<option value="Romania">Romania</option>
											<option value="Russian Federation">Russian Federation</option>
											<option value="Rwanda">Rwanda</option>
											<option value="Saint Barthélemy">Saint Barthélemy</option>
											<option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
											<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
											<option value="Saint Lucia">Saint Lucia</option>
											<option value="Saint Martin (French part)">Saint Martin (French part)</option>
											<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
											<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
											<option value="Samoa">Samoa</option>
											<option value="San Marino">San Marino</option>
											<option value="Sao Tome and Principe">Sao Tome and Principe</option>
											<option value="Saudi Arabia">Saudi Arabia</option>
											<option value="Senegal">Senegal</option>
											<option value="Serbia">Serbia</option>
											<option value="Seychelles">Seychelles</option>
											<option value="Sierra Leone">Sierra Leone</option>
											<option value="Singapore">Singapore</option>
											<option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
											<option value="Slovakia">Slovakia</option>
											<option value="Slovenia">Slovenia</option>
											<option value="Solomon Islands">Solomon Islands</option>
											<option value="Somalia">Somalia</option>
											<option value="South Africa">South Africa</option>
											<option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
											<option value="South Sudan">South Sudan</option>
											<option value="Spain">Spain</option>
											<option value="Sri Lanka">Sri Lanka</option>
											<option value="Sudan">Sudan</option>
											<option value="Suriname">Suriname</option>
											<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
											<option value="Swaziland">Swaziland</option>
											<option value="Sweden">Sweden</option>
											<option value="Switzerland">Switzerland</option>
											<option value="Syrian Arab Republic">Syrian Arab Republic</option>
											<option value="Taiwan, Province of China">Taiwan, Province of China</option>
											<option value="Tajikistan">Tajikistan</option>
											<option value="Tanzania">Tanzania</option>
											<option value="Thailand">Thailand</option>
											<option value="Timor-Leste">Timor-Leste</option>
											<option value="Togo">Togo</option>
											<option value="Tokelau">Tokelau</option>
											<option value="Tonga">Tonga</option>
											<option value="Trinidad and Tobago">Trinidad and Tobago</option>
											<option value="Tunisia">Tunisia</option>
											<option value="Turkey">Turkey</option>
											<option value="Turkmenistan">Turkmenistan</option>
											<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
											<option value="Tuvalu">Tuvalu</option>
											<option value="Uganda">Uganda</option>
											<option value="Ukraine">Ukraine</option>
											<option value="United Arab Emirates">United Arab Emirates</option>
											<option value="United Kingdom">United Kingdom</option>
											<option value="United States">United States</option>
											<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
											<option value="Uruguay">Uruguay</option>
											<option value="Uzbekistan">Uzbekistan</option>
											<option value="Vanuatu">Vanuatu</option>
											<option value="Venezuela">Venezuela</option>
											<option value="Viet Nam">Viet Nam</option>
											<option value="Virgin Islands, British">Virgin Islands, British</option>
											<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
											<option value="Wallis and Futuna">Wallis and Futuna</option>
											<option value="Western Sahara">Western Sahara</option>
											<option value="Yemen">Yemen</option>
											<option value="Zambia">Zambia</option>
											<option value="Zimbabwe">Zimbabwe</option>
										</select>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary mr-2">Actualizar</button>
							<button type="button" class="btn btn-default" (click)="limpiarInfBasica()">Cancelar</button>
						</form>

						<div class="body">
							<div class="row clearfix">
								<form class="col-lg-6 col-md-12 body" #formDateCuenta="ngForm" (ngSubmit)="editarDateCuenta()">
									<h6>Datos de cuenta</h6>
									<div class="form-group">
										<input type="text" [(ngModel)]="cuenta.usuario" class="form-control" name="usuario" disabled>
									</div>
									<div class="form-group">
										<input type="email" [(ngModel)]="cuenta.correo" class="form-control" name="correo" #correo="ngModel" placeholder="Correo electronico">
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="cuenta.celular" class="form-control" name="celular" #celular="ngModel" placeholder="Numero de celular">
									</div>
									<button type="submit" class="btn btn-primary mr-2">Actualizar</button>
									<button type="button" class="btn btn-default" (click)="limpiarDateCuenta()">Cancelar</button>
								</form>
								<form class="col-lg-6 col-md-12 body" #formChangePassword="ngForm" (ngSubmit)="editarPassword()">
									<h6>Cambiar contraseña</h6>
									<div class="form-group">
										<input type="password" [(ngModel)]="cuenta_pass.password"  class="form-control" name="password" #password="ngModel" placeholder="Contraseña actual">
									</div>
									<div class="form-group">
										<input type="password" [(ngModel)]="cuenta_pass.pass1" class="form-control" name="pass1" #pass1="ngModel" placeholder="Nueva contraseña">
									</div>
									<div class="form-group">
										<input type="password" [(ngModel)]="cuenta_pass.pass2" class="form-control" name="pass2" #pass2="ngModel" placeholder="Confirmar nueva contraseña">
									</div>
									<button type="submit" class="btn btn-primary">Actualizar</button> &nbsp;&nbsp;
									<button type="button" class="btn btn-default" (click)="limpiarPassword()">Cancelar</button>
								</form>
							</div>
						</div>

						<div class="body">
							<div class="row clearfix">
								<form class="col-lg-6 col-md-12 body" #formInfGeneral="ngForm" (ngSubmit)="editarInfGeneral()">
									<h6>Información general</h6>
									<div class="form-group">
										<input type="text" [(ngModel)]="info.telefono" class="form-control" name="telefono" #telefono="ngModel"
											placeholder="Número telefonico">
									</div>
									<div class="form-group">
										<select [(ngModel)]="info.lenguaje" class="form-control" name="lenguaje" #lenguaje="ngModel">
											<option value="null">-- Seleccionar lenguaje --</option>
											<option value="en_US" lang="en">English (United States)</option>
											<option value="ar" lang="ar">العربية</option>
											<option value="ary" lang="ar">العربية المغربية</option>
											<option value="az" lang="az">Azərbaycan dili</option>
											<option value="azb" lang="az">گؤنئی آذربایجان</option>
											<option value="bel" lang="be">Беларуская мова</option>
											<option value="bg_BG" lang="bg">Български</option>
											<option value="bn_BD" lang="bn">বাংলা</option>
											<option value="bs_BA" lang="bs">Bosanski</option>
											<option value="ca" lang="ca">Català</option>
											<option value="ceb" lang="ceb">Cebuano</option>
											<option value="cs_CZ" lang="cs">Čeština‎</option>
											<option value="cy" lang="cy">Cymraeg</option>
											<option value="da_DK" lang="da">Dansk</option>
											<option value="de_CH_informal" lang="de">Deutsch (Schweiz, Du)</option>
											<option value="de_CH" lang="de">Deutsch (Schweiz)</option>
											<option value="de_DE" lang="de">Deutsch</option>
											<option value="de_DE_formal" lang="de">Deutsch (Sie)</option>
											<option value="el" lang="el">Ελληνικά</option>
											<option value="en_GB" lang="en">English (UK)</option>
											<option value="en_AU" lang="en">English (Australia)</option>
											<option value="en_ZA" lang="en">English (South Africa)</option>
											<option value="en_NZ" lang="en">English (New Zealand)</option>
											<option value="en_CA" lang="en">English (Canada)</option>
											<option value="eo" lang="eo">Esperanto</option>
											<option value="es_CL" lang="es">Español de Chile</option>
											<option value="es_MX" lang="es">Español de México</option>
											<option value="es_GT" lang="es">Español de Guatemala</option>
											<option value="es_AR" lang="es">Español de Argentina</option>
											<option value="es_ES" lang="es">Español</option>
											<option value="es_BO" lang="es">Español de Bolivia</option>
											<option value="es_PE" lang="es">Español de Perú</option>
											<option value="es_CO" lang="es">Español de Colombia</option>
											<option value="es_VE" lang="es">Español de Venezuela</option>
											<option value="et" lang="et">Eesti</option>
											<option value="eu" lang="eu">Euskara</option>
											<option value="fa_IR" lang="fa">فارسی</option>
											<option value="fi" lang="fi">Suomi</option>
											<option value="fr_FR" lang="fr">Français</option>
											<option value="fr_CA" lang="fr">Français du Canada</option>
											<option value="fr_BE" lang="fr">Français de Belgique</option>
											<option value="gd" lang="gd">Gàidhlig</option>
											<option value="gl_ES" lang="gl">Galego</option>
											<option value="haz" lang="haz">هزاره گی</option>
											<option value="he_IL" lang="he">עִבְרִית</option>
											<option value="hi_IN" lang="hi">हिन्दी</option>
											<option value="hr" lang="hr">Hrvatski</option>
											<option value="hu_HU" lang="hu">Magyar</option>
											<option value="hy" lang="hy">Հայերեն</option>
											<option value="id_ID" lang="id">Bahasa Indonesia</option>
											<option value="is_IS" lang="is">Íslenska</option>
											<option value="it_IT" lang="it">Italiano</option>
											<option value="ja" lang="ja">日本語</option>
											<option value="ka_GE" lang="ka">ქართული</option>
											<option value="ko_KR" lang="ko">한국어</option>
											<option value="lt_LT" lang="lt">Lietuvių kalba</option>
											<option value="mk_MK" lang="mk">Македонски јазик</option>
											<option value="mr" lang="mr">मराठी</option>
											<option value="ms_MY" lang="ms">Bahasa Melayu</option>
											<option value="my_MM" lang="my">ဗမာစာ</option>
											<option value="nb_NO" lang="nb">Norsk bokmål</option>
											<option value="nl_NL" lang="nl">Nederlands</option>
											<option value="nl_NL_formal" lang="nl">Nederlands (Formeel)</option>
											<option value="nn_NO" lang="nn">Norsk nynorsk</option>
											<option value="oci" lang="oc">Occitan</option>
											<option value="pl_PL" lang="pl">Polski</option>
											<option value="ps" lang="ps">پښتو</option>
											<option value="pt_BR" lang="pt">Português do Brasil</option>
											<option value="pt_PT" lang="pt">Português</option>
											<option value="ro_RO" lang="ro">Română</option>
											<option value="ru_RU" lang="ru">Русский</option>
											<option value="sk_SK" lang="sk">Slovenčina</option>
											<option value="sl_SI" lang="sl">Slovenščina</option>
											<option value="sq" lang="sq">Shqip</option>
											<option value="sr_RS" lang="sr">Српски језик</option>
											<option value="sv_SE" lang="sv">Svenska</option>
											<option value="th" lang="th">ไทย</option>
											<option value="tl" lang="tl">Tagalog</option>
											<option value="tr_TR" lang="tr">Türkçe</option>
											<option value="ug_CN" lang="ug">Uyƣurqə</option>
											<option value="uk" lang="uk">Українська</option>
											<option value="vi" lang="vi">Tiếng Việt</option>
											<option value="zh_CN" lang="zh">简体中文</option>
											<option value="zh_TW" lang="zh">繁體中文</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="info.grado_academico" class="form-control" name="grado_academico"
											#grado_academico="ngModel" disabled>
									</div>
									<button type="submit" class="btn btn-primary mr-2">Actualizar</button>
									<button type="button" class="btn btn-default" (click)="limpiarInfGeneral()">Cancelar</button>
								</form>
								<form class="col-lg-6 col-md-12 body" #formEditarIntereses="ngForm" (ngSubmit)="editarIntereses()">
									<h6>Información Intereses</h6>
									<div class="form-group">
										<input type="text" [(ngModel)]="intereses.especialidad"  class="form-control" name="especialidad" #especialidad="ngModel" placeholder="Area de especialidad">
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="intereses.interes" class="form-control" name="interes" #interes="ngModel" placeholder="Grupo Botánico de interés">
									</div>
									<div class="form-group">
										<input type="text" [(ngModel)]="intereses.preferencia" class="form-control" name="preferencia" #preferencia="ngModel" placeholder="Area de trabajo de preferencia">
									</div>
									<button type="submit" class="btn btn-primary">Actualizar</button> &nbsp;&nbsp;
									<button type="button" class="btn btn-default" (click)="limpiarIntereses()">Cancelar</button>
								</form>
							</div>
						</div>
					</div>

					<div class="tab-pane" [ngClass]="{'active':fragment == 'training'}">
						<div class="body">
							<h6>Curriculum Vitae</h6>
							<blockquote>
								<form #formFotografia="ngForm" (ngSubmit)="editarCurriculum()">
									<input #file1 type="file" style="display: none;" (change)="fileChangeEvent1($event)" accept="pdf/*">
									<div class="text-left"> 
										<button class="btn btn-warning mr-1" type="button" (click)="file1.click()"><i class="icon-paper-clip text-light"></i></button>
										{{pdf_selected}}
									</div>
									<button class="btn btn-primary mt-1" type="submit">Subir Curriculum</button>
									<div class="progress mt-1" *ngIf="filesToUpload1">
										<div
										  class="progress-bar progress-bar-info progress-bar-striped"
										  role="progressbar"
										  attr.aria-valuenow="{{ progress1 }}"
										  aria-valuemin="0"
										  aria-valuemax="100"
										  [ngStyle]="{ width: progress1 + '%' }">
										  {{ progress1 }}%
										</div>
									</div>
								</form>
							</blockquote>
							
							<h6>Formación profesional</h6>
							<blockquote>
								<form #formacionPro="ngForm" (ngSubmit)="guardarFormacion()">
									<div class="form-group">
										<textarea class="form-control" rows="5" cols="30" [(ngModel)]="formacion_pro" name="textarea1" #textarea1="ngModel" required [ngClass]="{'parsley-error':!textarea1.valid && (textarea1.touched || formacionPro.submitted)}"></textarea>
										<ul class="parsley-errors-list filled" *ngIf="!textarea1.valid && (textarea1.touched || formacionPro.submitted)">
											<li class="parsley-required" *ngIf="textarea1.hasError('required')">Formacion profesional requerida.</li>
										</ul>
									</div>
									<button type="submit" class="btn btn-primary mr-2" [disabled]="!formacionPro.form.valid">actualizar</button>
									<button type="button" class="btn btn-default" (click)="limpiarFormacion()">Cancelar</button>
								</form>
							</blockquote>

							<h6>Formación adicional</h6>
							<blockquote>
								<form #formacionAdi="ngForm" (ngSubmit)="guardarFormacionAdi()">
									<div class="form-group">
										<textarea class="form-control" rows="5" cols="30" [(ngModel)]="formacion_adi" name="textarea2" #textarea2="ngModel" required [ngClass]="{'parsley-error':!textarea2.valid && (textarea2.touched || formacionAdi.submitted)}"></textarea>
										<ul class="parsley-errors-list filled" *ngIf="!textarea2.valid && (textarea2.touched || formacionAdi.submitted)">
											<li class="parsley-required" *ngIf="textarea2.hasError('required')">Formacion adicional requerida.</li>
										</ul>
									</div>
									<button type="submit" class="btn btn-primary mr-2" [disabled]="!formacionAdi.form.valid">actualizar</button>
									<button type="button" class="btn btn-default" (click)="limpiarFomacionAdi()">Cancelar</button>
								</form>
							</blockquote>

							<h6>Habilidades y capacidades</h6>
							<blockquote>
								<form #formHabilidades="ngForm" (ngSubmit)="guardarHabilidades()">
									<div class="form-group">
										<textarea class="form-control" rows="5" cols="30" [(ngModel)]="habilidades" name="textarea3" #textarea3="ngModel" required [ngClass]="{'parsley-error':!textarea3.valid && (textarea3.touched || formHabilidades.submitted)}"></textarea>
										<ul class="parsley-errors-list filled" *ngIf="!textarea3.valid && (textarea3.touched || formHabilidades.submitted)">
											<li class="parsley-required" *ngIf="textarea3.hasError('required')">Habilidades y capacidades requerida.</li>
										</ul>
									</div>
									<button type="submit" class="btn btn-primary mr-2" [disabled]="!formHabilidades.form.valid">actualizar</button>
									<button type="button" class="btn btn-default" (click)="limpiarHabilidades()">Cancelar</button>
								</form>
							</blockquote>

							<h6>Conclusion</h6>
							<blockquote>
								<form #formConlusion="ngForm" (ngSubmit)="guardarConclusion()">
									<div class="form-group">
										<textarea class="form-control" rows="5" cols="30" [(ngModel)]="conclusion" name="textarea4" #textarea4="ngModel" required [ngClass]="{'parsley-error':!textarea4.valid && (textarea4.touched || formConlusion.submitted)}"></textarea>
										<ul class="parsley-errors-list filled" *ngIf="!textarea4.valid && (textarea4.touched || formConlusion.submitted)">
											<li class="parsley-required" *ngIf="textarea4.hasError('required')">Conclusion requerida.</li>
										</ul>
									</div>
									<button type="submit" class="btn btn-primary mr-2" [disabled]="!formConlusion.form.valid">actualizar</button>
									<button type="button" class="btn btn-default" (click)="limpiarConclusion()">Cancelar</button>
								</form>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>