<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>Publicación</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/investigador/dashboard/menu']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/investigador/dashboard/profile']">Perfil de Investigador</a></li>
                    <li class="breadcrumb-item active">{{id_publicacion}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
        
		<div class="col-lg-12 col-md-12">
			<div class="card right-box single_post2">
				<div class="widget body">
					<h2 class="title">{{publicacion.titulo}}</h2>
					<ul class="list-unstyled instagram-plugin m-b-0">
						<li *ngFor="let archivo of archivos">
							<a href="{{url +'get-archivo/'+archivo.archivo}}" target="_blank" *ngIf="isPdf(archivo.archivo)" >
								<img class="img-fluid" src="{{who +'fotografias/'+ 'logo-pdf.jpg' + '/true'}}" alt="image description">
							</a>
							<a href="{{url +'get-archivo/'+archivo.archivo}}" target="_blank" *ngIf="!isPdf(archivo.archivo)">
								<img class="img-fluid" src="{{url +'get-archivo/'+archivo.archivo}}" width="500px" alt="image description">
							</a>
						</li>
					</ul>
					<p class="date">
						<small>{{publicacion.fecha | date}}</small>
					</p>
					<strong>Tipo de publicación: </strong> <small>{{publicacion.tipo}}</small> <br>
					<strong>Descripción: </strong> <small class="text">{{publicacion.contenido}}</small>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card" *ngIf="comentarios.length === 0">
				<div class="body text-center">
					<div class="not_found">
							<h4 class="m-b-0">Lo sentimos, No tiene comentarios.</h4>
					</div>
				</div>
			</div>
			<div class="card" *ngIf="comentarios.length > 0">
				<div class="header">
					<h2>Comentarios</h2>
				</div>
				<div class="body">
					<ul class="comment-reply list-unstyled" *ngFor="let comentario of comentarios">
						<li class="row clearfix">
							<div class="icon-box col-md-2 col-4">
								<img class="img-fluid img-thumbnail" src="{{who +'fotografias/'+ comentario.persona.fotografia.imagen + '/true'}}" alt="Awesome Image"></div>
							<div class="text-box col-md-10 col-8 p-l-0 p-r0">
								<h5 class="m-b-0">{{comentario.persona.nombres}} {{comentario.persona.paterno}} {{comentario.persona.materno}}</h5>
								<p>{{comentario.comentario}}</p>
								<ul class="list-inline">
									<li><a type="button" class="text-primary"><small>{{comentario.updatedAt | date}}</small></a></li>
								</ul>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>