<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a type="button" class="btn btn-xs btn-link btn-toggle-fullwidth text-primary" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Mi Publicación
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/investigador/dashboard/menu']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/investigador/dashboard/profile']">Mi perfil</a></li>
                    <li class="breadcrumb-item active">{{id_publicacion}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
        
		<div class="col-lg-12 col-md-12">
			<div class="card right-box single_post">
				<div class="widget body pb-0">
					<h4 class="m-t-0 m-b-5 text-dark"><b>{{publicacion.titulo}}</b></h4>
					<ul class="meta">
						<li>
							<a type="button"><i class="icon-tag text-success"></i>{{publicacion.tipo}}</a>
						</li>
						<li>
							<a type="button"><i class="icon-graduation text-primary"></i><strong>Publicado por:</strong> {{publicacion.autores}}</a>
						</li>
						<li>
							<a type="button"><i class="icon-bubbles text-warning"></i><strong>Comentarios:</strong> {{publicacion.nroComentarios}}</a>
						</li>
						<li>
							<a type="button"><i class="icon-calendar text-info"></i><strong>Año de publicación: </strong> {{publicacion.fecha | date: 'yyyy'}}</a>
						</li>
						<li>
							<a type="button"><i class="icon-user text-danger"></i><strong>Autores: </strong> {{publicacion.autor}}</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<div class="row">
						<div class="col-9 text-secondary align-justify text-capitalized">{{publicacion.contenido}}</div>
						<div class="col-3 m-b-15 icons-list align-center">
							<div class="img-post mb-1" *ngFor="let archivo of publicacion.archivos">
								<!-- <a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank"><i class="fa fa-file-pdf-o text-primary"></i></a> -->
								<a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank" *ngIf="isPdf(archivo.archivo)" >
									<img class="img-fluid" src="assets/images/pdf.png"  width="100px" alt="image description">
								</a>
								<a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank" *ngIf="!isPdf(archivo.archivo)">
									<img class="img-fluid" src="{{who +'publicaciones/'+archivo.archivo}}" width="100px" alt="image description">
								</a>
							</div>
						</div>
					</div>
					<!-- <a [routerLink]="['../profile-post/', publicacion.id_publicacion]" title="read more" class="btn btn-info m-t-20">Continuar leyendo</a> -->
				</div>
				<!-- <div class="widget body">
					<h2 class="title">{{publicacion.titulo}}</h2>
					<ul class="list-unstyled instagram-plugin m-b-0">
						<li *ngFor="let archivo of archivos">
							<a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank" *ngIf="isPdf(archivo.archivo)" >
								<img class="img-fluid" src="{{who +'fotografias/'+ 'logo-pdf.jpg' + '/true'}}" alt="image description">
							</a>
							<a href="{{who +'publicaciones/'+archivo.archivo}}" target="_blank" *ngIf="!isPdf(archivo.archivo)">
								<img class="img-fluid" src="{{who +'publicaciones/'+archivo.archivo}}" width="500px" alt="image description">
							</a>
						</li>
					</ul>
					<p class="date">
						<small><strong>Año de publicación: </strong>{{publicacion.fecha | date:'yyyy'}}</small>
					</p>
					<strong>Tipo de publicación: </strong> <small>{{publicacion.tipo}}</small> <br>
					<strong>Descripción: </strong> <small class="text">{{publicacion.contenido}}</small>
				</div>	 -->
			</div>
		</div>
	</div>
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="header">
					<h2>Comentarios</h2>
				</div>
				<div class="body">
					<form #comentarioForm="ngForm" (ngSubmit)="guardarComentario()">
						<div class="form-group">
							<textarea rows="3" class="form-control no-resize" placeholder="Escribe aqui su comentario..." [(ngModel)]="comentario.comentario" name="contenido" 
							#contenido="ngModel" required>
							</textarea>
							
						</div>
						<button class="btn btn-primary mr-1" [disabled]="!comentarioForm.form.valid" type="submit">Comentar</button>
						<button class="btn btn-danger" (click)="comentario={};" type="button">Cancelar</button>
						<a href="javascript:void(0);" class="float-right">Numero comentarios: <b>{{publicacion.nroComentarios}}</b></a>
					</form>
					<hr>

					<div class="not_found" *ngIf="comentarios.length === 0">
						<h4 class="m-b-0">Lo sentimos, no tiene comentarios.</h4>
					</div>

					<ul class="right_chat list-unstyled" *ngIf="comentarios.length > 0">
						<li class="online" *ngFor="let comentario of comentarios">
							<a href="javascript:void(0);">
								<div class="media">
									<img class="media-object " src="{{who +'fotografias/'+ comentario.persona.fotografia.imagen + '/true'}}" alt="image-user">
									<div class="media-body">
										<span class="name"><b>{{comentario.persona.grado_academico}}</b> {{comentario.persona.nombres}} {{comentario.persona.paterno}} {{comentario.persona.materno}} <small class="float-right">{{comentario.updatedAt | date: 'mediumDate'}}</small></span>
										<span class="message">{{comentario.comentario}}</span>
										<span class="badge badge-outline status"></span>
									</div>
								</div>
							</a>
						</li>
						
					</ul>
					
				</div>
			</div>
		</div>
		
	</div>

</div>

<!-- MODAL Guardar COMENTARIO-->
<ng-template #content6 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Hacer comentario</h4>
	</div>
	<div class="modal-body">
		<form class="container" #comentarioForm="ngForm" (ngSubmit)="guardarComentario()">
			<div class="form-group row">
				<label class="col-sm-3 col-12" for="tipo">Comentario: </label>
				<div class="col-sm-9 col-12">
					<textarea [(ngModel)]="comentario.comentario" rows="3" cols="30" class="form-control" name="contenido" #contenido="ngModel"
						[ngClass]="{'parsley-error':!contenido.valid && (contenido.touched || comentarioForm.submitted)}"
                        required>
                    </textarea>
					<ul class="parsley-errors-list filled"
						*ngIf="!contenido.valid && (contenido.touched || comentarioForm.submitted)">
						<li class="parsley-required" *ngIf="contenido.hasError('required')">Comentario de la publicación requerido.
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="estado" name="estado"
						[(ngModel)]="comentario.estado">
					<label class="form-check-label" for="estado">Estado</label>
				</div>
            </div>
			<div class="text-right">
                <button class="btn btn-success mr-1" [disabled]="!comentarioForm.form.valid" type="submit">Guardar</button>
                <button class="btn btn-danger" (click)="modal.dismiss('Close click')" type="button">Cancelar</button>
            </div>
		</form>
	</div>
</ng-template> 