<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					Proyectos
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['../../data']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item active">Proyectos</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container row">
		<form id="navbar-search" class="navbar-form search-form col-12 col-sm-6">
			<input [formControl]="search" class="form-control" placeholder="Buscar proyecto ..."
				type="text" />
			<button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
		</form>
	
		<div ngbDropdown class="d-inline-block" placement="bottom-left">
			<button class="btn btn-default mr-1 mb-3" id="dropdownBasic1" ngbDropdownToggle>Listado</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button class="btn btn-default" [routerLink]="['../', 'proyecto']" ngbDropdownItem>Todos</button>
				
				<button class="btn btn-default" [routerLink]="['../', 'activo']" ngbDropdownItem>Activos</button>
				<button class="btn btn-default" [routerLink]="['../', 'inactivo']" ngbDropdownItem>Inactivos</button>
				<button class="btn btn-default" [routerLink]="['../', 'pendiente']" ngbDropdownItem>Pendientes</button>
				<button class="btn btn-default" [routerLink]="['../', 'cerrado']" ngbDropdownItem>Cerrados</button>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="header">
					<h2>Listado de proyectos</h2>
				</div>
				<div class="body project_report">
					<div class="table-responsive">
						<table class="table m-b-0 table-hover">
							<thead class="thead-light">
								<tr>
									<th>Estado</th>
									<th>Titulo</th>
									<th>Proceso</th>
									<th>Grupo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let proyecto of proyectos | searchProyectos: valorBusqueda">
									<td>
										<span *ngIf="proyecto.estado==='activo'" class="badge badge-success">Activo</span>
										<span *ngIf="proyecto.estado==='inactivo'" class="badge badge-default">Inactivo</span>
										<span *ngIf="proyecto.estado==='pendiente'" class="badge badge-warning">Pendiente</span>
										<span *ngIf="proyecto.estado==='cerrado'" class="badge badge-primary">Cerrado</span>
									</td>
									<td class="project-title">
										<h6>
											<a [routerLink]="['../../show-proyecto', proyecto.id_proyecto]">{{proyecto.titulo}}</a>
										</h6>
										<small>{{proyecto.createdAt | date:'medium'}}</small>
									</td>
									<td>
										<div class="progress progress-xs">
											<div class="progress-bar" role="progressbar" [attr.aria-valuenow]="proyecto.proceso" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: proyecto.proceso + '%'}"></div>
										</div>
										<small>Proceso: {{ proyecto.proceso }}%</small>
									</td>
									<td>
										<ul class="list-unstyled team-info">
											<li *ngFor="let foto of proyecto.fotos"><img src="{{url +'get-fotografia/'+ foto + '/true'}}" alt="Avatar"></li>
										</ul>
									</td>
									<td class="project-actions">
										<a [routerLink]="['../../show-proyecto', proyecto.id_proyecto]" class="btn btn-outline-secondary mr-1" ><i class="icon-eye"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>